// users sandbox


// users controls
.users-controls {
}

.users-controls__left {
  float: left;
}

.users-controls__right {
  float: right;
}

.users-controls__left,
.users-controls__right {
  @include screen-mob {
    float: none;
  }
}


.social-profiles {
  li {
    float: left;
    margin-left: 4px;

    &:first-child {
      margin-left: 0;
    }
  }
}