
// profile
.profile {
  position: relative;
  padding-left: 152px;

  @include screen-med {
    padding-left: 0;
  }
}

.profile__avatar {
  position: absolute;
  top: 0;
  left: 0;
}

.profile__name {
  margin: 0 0 16px;

  @include screen-med {
    padding: 4px 0 4px 48px;
    margin: 0 0 24px;
  }
}


// profile avatar
.profile-avatar {
  position: absolute;
  top: 0;
  left:0;
  @include screen-med {
    width: 40px;
    height: 40px;
  }
}

.profile-avatar__avatar {
  .avatar {
    @include screen-med {
      width: 40px;
      height: 40px;
    }
  }
}

.profile-avatar__indicator {
  position: absolute;
  bottom: -2px;
  right: -2px;
  border: 2px solid $white;
  height: 32px;
  width: 32px;
  border-radius: 50%;
  background: $color-azure;

  @include screen-med {
    width: 16px;
    height: 16px;
  }
}



//
.profile-split {
  width: 50%;
  float: left;

  @include screen-med {
    width: auto;
    float: none;
    margin-bottom: 24px;

    &:last-child {
      margin: 0;
    }
  }
}

.profile-split--left {
  padding-right: 24px;
}

.profile-split--right {
  padding-left: 24px;
}

.profile-split--left,
.profile-split--right {
  @include screen-med {
    padding: 0;
  }
}


.profile-split__heading {
  padding: 0 0 2px;
  margin: 0 0 4px;
  border-bottom: 1px solid $color-border-light;
}

.profile-table {
  width: 100%;
  table-layout: fixed;

  td {
    padding: 4px 0;
  }
}

.table-experience,
.table-sessions {
  width: 100%;
  table-layout: fixed;

  td {
    padding: 8px 0;
  }

  tr {
    border-bottom: 1px solid $color-border-light;

    &:last-child {
      border-bottom: none;
    }
  }
}


// devices
.user-device {
  position: relative;
  padding: 0 0 12px 12px;
  margin-bottom: 12px;
  border-bottom: 1px solid $color-border-light;

  &:last-child {
    margin: 0;
    border: none;
  }
}

.user-device__icon {
  position: absolute;
  top: 0;
  left: 0;
}

.user-device__type {
  margin: 0 0 8px;
}

.user-device__platform {
  margin: 0 0 8px;
}

.user-device__browser {
}



// unsetup product

.profile-product-setup {
  position: relative;
  padding-left: 160px;
}

.profile-product-setup__image {
  position: absolute;
  top: 0;
  left: 0;

  &:before {
    content: '';
    display: block;
    width: 140px;
    height: 140px;
    background: white;
    border-radius: 3px;
  }
}

.profile-product-setup__content {
  margin-bottom: 16px;
}



// error stats
.profile-error-stats {
  li {
    width: 25%;
    float: left;
    border-right: 1px solid $color-border-light;

    &:last-child {
      border: none;
    }
  }

  @include screen-min {
    li {
      float: none;
      width: auto;
      padding: 8px 0;
      border-right: none;
      border-bottom: 1px solid $color-border-light;
    }
  }
}


.error-stat {
  position: relative;
  padding: 0 24px;
  @include screen-min {
    padding: 0;
  }
}
.error-stat__label {
  display: block;
  @include font-size(1.4);
}
.error-stat__result {
  display: block;
  font-weight: bold;
  margin-bottom: 8px;
  @include font-size(2.4);

  @include screen-min {
    position: absolute;
    right: 0;
    top: 0;
    margin-bottom: 0;
    @include font-size(1.4);
  }
}