// Affected Users
.users-table a {
  white-space: nowrap;
  display: block;
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
}


// users data
.users-data-table {
  width: 100%;

  td {
    padding: 0 0 12px;
  }

  tr:last-child td {
    padding: 0;
  }

  a {
    white-space: nowrap;
    text-decoration: underline;
  }
}

td.table-label {
  width: 180px;
  padding: 0 16px 12px 0;
}

.table-data-icon {
  display: block;
  position: relative;
  padding: 0 0 0 24px;

  .avatar-16,
  .icon-16 {
    position: absolute;
    left: 0;
  }
}


// adds spacing to a module so the spinner is positioned correctly
.users-loading-module {
  padding: 80px 0;
}

// button in module
.content-button.clearfix {
  .button {
    display: block;
    float: left;
  }
}

.user-tracking-image {
  background-image: url(/Content/Images/user-tracking/user-tracking-image.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 408px 272px;
  height: 272px;
}

html.svg .user-tracking-image {
  background-image: url(/Content/Images/user-tracking/user-tracking-image.svg);
}




// module sizing for users
.user-details-module,
.user-statistic-module {
  min-height: 200px;
}



// setup screen
.language-list {
  margin: 24px 0;

  li {
    width: (100%/3);
    float: left;

    @media screen and (max-width:$screen-mob) {
      width: 50%;
    }
  }
}

.language-link {
  display: block;
  position: relative;
  padding: 12px 12px 12px 48px;
  line-height: 24px;
  color: $text-1 !important;
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;

  &:hover,
  &:active {
    background: $background-color;
  }

  .language-icon {
    position: absolute;
    display: block;
    top: 12px;
    left: 12px;
    padding: 4px;
    background: $text-1;
    color: $white;
    border-radius: 2px;
    width: 24px;
    height: 24px;
  }
}

.contact-icon-container {
  .icon-16 {
    float: left;
    margin: 0 8px 0 0;
  }
}

.user-error-occurences {
  display: block;
  max-width: 80px;
}

.affected-user-label{
  line-height: 32px;
  display: inline-block;
}

.affected-user-drop-down-wrapper{
  height: 32px;
}
