.users-search {
  position: relative;
  padding-left: 400px;
  margin-bottom: 24px;
  @include screen-mob {
    padding: 0;
  }
}
.users-search__input {
  position: absolute;
  top: 0;
  left: 0;
  width: 400px;
  max-width: 100%;
  @include screen-mob {
    position: static;
    margin-bottom: 12px;
  }
}
.users-search__anonymous {
  padding: 12px;
  margin-left: 12px;
  @include screen-mob {
    margin: 0;
  }
}