// Tables
//
// The generic table is created with the base class .table-standard
//
// Styleguide table


// NOTE!
//
// Many tables have a width class e.g table__cell-120 defined on the td. That is NOT necessary if it is defined on the th element.
//
// styleguide table.1


// Real use example
//
// Markup: generic/kss-template__generic-table-example--1.html
//
// Styleguide table.4




// Fixed tables
//
// Is used to allow fixed px with on table cell.
//
// styleguide table.3

.table--fixed {
  table-layout: fixed;
}


// Generic table setup
//
// Markup: generic/kss-template__generic-table-setup.html
//
// Styleguide table.2


// general
.table--standard {
  width: 100%;
  border-collapse: collapse;
  background-color: $white;

  th,
  td {
    vertical-align: middle;
  }

  th {
    @include font-size(1.3);
    color: #666;
    font-weight: bold;
    line-height: 16px;
  }

  tr {
    border-bottom: 1px solid $color-border-light;
  }
}


// Rows
//
// .table__row--red - Description
// .table__row--grey - Description
// .table__row--blue - Description
//
// Markup:
// <table class="table--standard">
// <tbbody>
// <tr class="table__row {{modifier_class}}">
//   <td class="table__cell--tight">
//     Lorem
//   </td>
//   <td class="table__cell--tight">
//     Ipsum
//   </td>
//   <td class="table__cell--tight">
//     Dolar
//   </td>
//   <td class="table__cell--tight">
//     Sit
//   </td>
// </tr>
// </tbody>
// </table>
//
// Styleguide table.8

.table__row {
  border-bottom: 1px solid $color-border-light;
}

.table__row--red {
  border-left: 3px solid $color-ember;
  background-color: $color-ember-highlight;
}

tr.is-active,
.table__row--grey {
  background: $color-grey-lighter;
}

.table__row--blue {
  border-left: 3px solid $color-azure;
}





// Table controls
//
// Markup: generic/kss-template__generic-table-controls.html
//
// Styleguide table.5

// specific
.table__cell-control {
  @extend noselect;
  cursor: pointer;
  padding: 0 12px;
  height: 40px;

  .icon-16 {
    color: $text-1;
  }

  &.table__cell-control__no-hover {
    &:hover {
      background: none;
    }
    cursor: default;
  }

  &:hover {
    background: $background-color;

    .icon-16 {
      color: $text-1;
    }
  }

  &:active {
    text-indent: 1px 0 0 0;

    .table__sort-text {
      transform: translateY(2px);
    }
  }

  &.is-active {
    background: $background-color;
    border-bottom: 2px solid $color-border;
  }
}

.table__sort-text {
  @extend nowrap;
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  display: block;
  line-height: 16px;
  padding: 0 24px 0 0;
  font-weight: bold;
  position: relative;

  .icon-16 {
    position: absolute;
    top: 0;
    right: 0;
  }
}



// Cell size and spacing
//
// .table__cell--standard - Normal spacing
// .table__cell--tight - Tight spacing
// .table__cell--tightest - Even tighter spacing
// .table__cell--standard .apikey.hide - ???
// .table__cell--checkbox - width and padding for stand alone checkboxes.
// .table__cell--button - width and padding for buttons.
// .table__cell--message - Adds the padding to the child link instead of the cell itself.
//
// Styleguide table.7


.table__cell--standard {
  padding: 6px 12px;
  height: 40px;
}

.table__cell--tight {
  padding: 4px 8px;
  height: 36px;
}

.table__cell--tightest {
  padding: 2px 8px;
  height: 32px;
}

.table__cell--standard .apikey.hide {
  margin: 8px 0 0;
}

.table__cell--checkbox {
  width: 24px;
  padding-right: 8px;
}

.table__cell--button {
  width: 140px;
  padding: 4px 0;
  white-space: nowrap;
  text-align: right;
}

// padding on A rather than table__cell
.table__cell--message {
  a {
    padding: 0 12px;
    line-height: 16px;
  }
}



// Cell widths
//
// .table__cell--gutter - Gutter is the first and last cell. Not meant to have any content.
// .table__cell--avatar - Deprecated? Use .table__cell-32 instsead?
// .table__cell--browser - Deprecated?
// .table__cell--platform - Deprecated?
// .table__cell--text-input - Deprecated. Use .table__cell-220 instead.
// .table__cell-16 - 16px width
// .table__cell-24 - 24px width
// .table__cell-32 - 32px width
// .table__cell-40 - 40px width
// .table__cell-48 - 48px width
// .table__cell-56 - 56px width
// .table__cell-64 - 64px width
// .table__cell-60 - 60px width
// .table__cell-80 - 80px width
// .table__cell-100 - 100px width
// .table__cell-120 - 120px width
// .table__cell-140 - 140px width
// .table__cell-150 - 150px width
// .table__cell-160 - 160px width
// .table__cell-180 - 180px width
// .table__cell-200 - 200px width
// .table__cell-220 - 220px width
// .table__cell-240 - 240px width
// .table__cell-300 - 300px width
// .table__cell-400 - 400px width
// .table__cell-500 - 500px width
//
// Styleguide table.6


.table__cell--gutter{
  width: 24px;
  max-width: 24px;
  @media screen and (max-width:$screen-min) {
    width: 16px;
  }
}

.table__cell--avatar {
  width: 32px;
}

.table__cell--browser,
.table__cell--platform {
  width: 240px;
  @include screen-min {
    width: 160px;
  }
}

// Add to style guide;
.table__cell--text-input { // Todo: replace with .table__cell--220
  min-width: 220px;
}



$table-widths: 16 24 32 40 48 56 64 60 80 100 120 140 150 160 180 200 220 240 300 400 500;

@each $width in $table-widths{ // ToDo: Change all table__cell-xx to table_cell--xx
  .table__cell-#{$width} {
    width: #{$width}px;
    max-width: #{$width}px;
  }
}

// Cell positioning
//
// .table__cell--left - aligns it's content to the left
// .table__cell--right - aligns it's content to the right
// .table__cell--center - center aligns it's content
//
// Styleguide table.10

.table__cell--left {
  text-align: left;
}

.table__cell--right {
  text-align: right;
}

.table__cell--center {
  text-align: center;
}

.table__cell--space-left {
  padding-left: 16px;
}

// Gives the the table a more spacy layout
//!todo don't like this too much.
.table--high-cells td {
  height: 65px;
}

// Gives date cells enough room to display DD MMM YYYY format dates
td.table__cell--date {
  min-width: 120px;
}


// Mobile responsiveness
//
// Markup: generic/kss-template__generic-table-mobile.html
//
// Styleguide table.9

@include screen-mob {
  .table--responsive {
    display: block;
    width: 100%;

    .table__cell--gutter,
    .table__heading {
      display: none;
    }

    tbody,
    tr,
    td {
      display: block;
      width: 100%;
      min-width: 100%;
    }

    tr {
      padding: 12px;
    }

    td {
      padding: 0 0 0 120px;
      margin: 0 0 4px;
      position: relative;
      height: auto;
      min-height: 16px;

      &:before {
        content: attr(data-content);
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        line-height: inherit;
      }

      &:last-child {
        margin: 0;
      }
    }
  }
}


// block-responsive
@include screen-mob {
  .table--responsive-block {
    display: block;
    width: 100%;

    .table__cell--gutter,
    .table__heading {
      display: none;
    }

    tbody,
    tr,
    td {
      display: block;
      width: 100%;
      min-width: 100%;
      padding: 0;
    }

    tr {
      margin: 0 0 16px;

      &:last-child {
        margin: 0;
      }
    }

    td {
      margin: 0 0 4px;
      position: relative;
      height: auto;

      &:last-child {
        margin: 0;
      }
    }
  }
}
