@import 'button';
@import 'icons';
@import 'properties';


// NOTE: This (1) is a note (0)
$hello: #fff;
// NOTE: This is a note (0)
$helslo: #ffd;
$hellsso: #ffd;
// TODO: Change code
$helslso: #fff;

// TODO: Change code (5)
$helslsssso: #faf;




.h1{
  font-style: 2.2rem;
  color: red;
}

.h2{
  font-style: 2rem;
  color: green;
}

.h3{
  font-style: 1.8rem;
  color: pink;
}

