@import 'button';
@import 'icons';
@import 'properties';


// NOTE: This (1) is a note (0)
$hello: #fff;
// NOTE: This is a note (0)
$helslo: #ffd;
$hellsso: #ffd;
// TODO: Change code
$helslso: #fff;

// TODO: Change code (5)
$helslsssso: #faf;






