.kss-main{
	background-color: #f1f1f1;
}

.kss-style h1 {
    font-size: 24px;
}

.kss-style h2 {
    font-size: 20px;
}

.kss-style h3 {
    font-size: 18px;
}

.kss-style h4 {
    font-size: 16px;
}