

.signup-heading {
  margin-bottom: 56px;
  text-align: center;
}
.signup-heading__primary-heading {
  margin-bottom: 8px;
  @include font-size(3.2);
  @include screen-mob {
    @include font-size(2.2);
  }
}
.signup-heading__secondary-heading {
  color: $text-grey;
  @include font-size(2.2);
  @include screen-mob {
    @include font-size(1.6);
  }
}


.signup-submit {
  margin-top: 24px;
}
.signup-terms {
  margin-top: 16px;
}