// auth container
.auth-container {
  padding: 40px 16px;
  @media screen and (max-width:$screen-min) {
    padding: 40px 12px;
  }
}

// heading
.header-auth {
  border-bottom: 1px solid $color-border;
  padding: 0 12px 8px;
  margin: 0 0 40px;
  h1 {
    line-height: 1.2;
  }
}

// forgot / create
.login-actions {
  margin: 24px 0 0; 
  border-top: 1px solid $color-border;
  padding: 24px 0 0;
  .is-left {
    float: left;
  }
  .is-right {
    float: right;
  }
  @media screen and (max-width:$screen-min) {
    .is-left,
    .is-right {
      float: none;
      border-radius: 3px;
      margin: 0 0 16px;
      padding: 12px;
      text-align: center;
      line-height: 16px;
      background: $color-grey-lightest;
      &:last-child {
        margin: 0;
      }
    }
  }
}


// oauth section
.login-oauth {
  padding: 24px 0 0;
  border-top: 1px solid $color-border;
  h4 {
    text-align: center;
    margin: 0 0 24px;
  }
}

// oauth button grid
ul.oauth-logins {
  margin: -8px;
  li {
    display: block;
    padding: 8px;
    float: left;
    width: 25%;
    @media screen and (max-width:$screen-min) {
      width: 50%;
    }
    @media screen and (max-width:$screen-mob) {
      float: none;
      width: 100%;
    }
  }
  .button {
    font-weight: bold;
  }
}