// Payment Success Screen

// list
.payment-success-summary {
  margin: 16px 0 0;
}


.payment-success {
  position: relative;
  padding: 0 0 0 48px;
  min-height: 52px;
  margin: 0 0 2px;
  background: $color-grey-lightest;
  overflow: hidden;
  &:last-child {
    margin: 0;
  }
}

.payment-success__icon {
  position: absolute;
  top: 8px;
  left: 8px;
}

.payment-success__product {
  padding: 8px;
  line-height: 16px;
  h4 {
    margin: 0 0 2px;
  }
}