//-- Modal components for plan page


// unlocked applications modal list
.unlock-application-list {
  li {
    margin: 0 0 2px;

    &:last-child {
      margin: 0;
    }
  }
}

.unlock-application-item {
  position: relative;
  padding: 0 56px 0 56px;
  background: $color-grey-lightest;
}

.unlock-application-icon {
  position: absolute;
  left: 0;
  top: 0;
  padding: 8px;
}

.unlock-application-name {
  display: table-cell;
  vertical-align: middle;
  height: 48px;
}

.unlock-application-button {
  position: absolute;
  width: 40px;
  top: 8px;
  right: 8px;
}
