// Pricing navigation
.pricing-nav {
  position: relative;
  padding: 0 0 12px;
  margin: 0 0 24px;
  border-bottom: 1px solid $color-grey-lighter;

  h2 {
    line-height: 36px;
  }
}


// billing switch
.annual-toggle {
  position: absolute;
  top: 0;
  right: 0;
  overflow: hidden;
  width: 360px;

  @include screen-mob {
    margin: 12px 0 0;
    position: static;
    width: 100%;
  }
}

.annual-pricing-button {
  cursor: pointer;
  float: left;
  width: 50%;
  text-align: center;
  display: block;
  line-height: 16px;
  padding: 8px 12px;
  font-weight: bold;
  background: $color-grey;
  &:hover {
    background: $color-grey-light;
  }
  &:active {
    background: $color-grey-dark;
  }

  &.annual-pricing-button--active {
    color: $white;
    background: $color-azure;
  }
}

.annual-pricing-button--left {
  border-radius: 16px 0 0 16px;
}
.annual-pricing-button--right {
  border-radius: 0 16px 16px 0;
}