// Pricing Summary

.invoice-cancel {
  position: absolute;
  right: 200px;
  bottom: 0;
}

.invoice-proceed {
  position: absolute;
  width: 180px;
  bottom: 0;
  right: 0;
}

.invoice-container {
  position: relative;
  height: 36px;
}

// pricing total table
.pricing-total {
  max-width: 260px;
  float: right;
  td {
    padding: 12px;
  }
  tr {
    border-bottom: 1px solid $color-border-light;
  }
}

// summary table
.pricing-summary {
  width: 100%;
  text-align: left;
  margin: 0 0 24px;
  th {
    font-weight: bold;
  }
  th,td {
    white-space: nowrap;
    padding: 8px 6px;
    line-height: 20px;
    vertical-align: middle;
  }
  tr {
    border-bottom: 1px solid $color-border-light;
  }
}

.td-price {
  text-align: right;
}


// module summary item
.module-summary-item {
  line-height: 16px;
  position: relative;
  padding: 12px 540px 12px 0;
  border-bottom: 1px solid $color-border-light;
}