// accordion container
.pricing-accordion {
  margin: 0 0 24px;
}

// Pricing Plans
.pricing-module {
  margin: 6px 0;
  border: 1px solid $color-border;
  background: $white;
  box-shadow: $box-shadow;
}

// pricing header
.pricing-module__header {
  @extend noselect;
  position: relative;
  cursor: pointer;
  padding: 12px 48px 12px 24px;
  background: $white;

  &:hover,
  &:active {
    background: $color-grey-lightest;
  }

  h4 {
    line-height: 24px;
  }
}

.pricing-module__icon {
  position: absolute;
  width: 16px;
  height: 16px;
  top: 16px;
  right: 16px;
}


//-- open state
.pricing-module--open {
  .pricing-module__header {
    background: $color-grey-lightest;
    border-bottom: 1px solid $color-border;
  }
}

.pricing-module--open {
  &.pricing-module--blue {
    border-color: $color-azure;
    box-shadow: 0 0 0 1px $color-azure;
  }

  &.pricing-module--purple {
    border-color: $color-byzantine;
    box-shadow: 0 0 0 1px $color-byzantine;
  }
}




// pricing body
.pricing-module__body {
  display: none;
}

.pricing-module__body--open {
  display: block;
}

// -- plan
.plan-content {
  vertical-align: middle;
  float: left;
  width: (100%/3);
  padding: 24px;

  @include screen-mob {
    width: 100%;
    float: none;
  }
}

.plan-content-free-wrapper {
  border-top: 1px solid $color-border;
  clear: both;
  padding: 24px;
  text-align: center;
}

.plan-content-free {
  display: inline-block;
  position: relative;
  padding-right: 132px;
}

.plan-content-free__description {
  line-height: 32px;
}

.plan-content-free__button {
  position: absolute;
  width: 120px;
  top: 0;
  right: 0;
}

// plan header
.plan-header {
  margin: 0 0 12px;
  text-align: center;
  font-weight: bold;
  @include font-size(1.8);
}

// plan price
.plan-price {
  text-align: center;
  line-height: 32px;
  color: $text-grey;
}

.plan-price-number {
  @include font-size(3.2);
}

.plan-price-frequency {
  @include font-size(1.6);
}

.plan-price-normal {
  margin: 12px 0;
  text-align: center;
  font-weight: bold;
  color: $color-ember;
  @include font-size(1.6);
}

.plan-price-normal__special {
  text-decoration: line-through;
}

// plan price
.plan-price-annual {
  font-style: italic;
  text-align: center;
  line-height: 24px;
  color: $text-grey;
  @include font-size(1.6);
}



// plan message
.plan-message {
  padding: 12px;
  background: $color-grey-lightest;
  border-radius: 4px;
}

// plan features
.plan-features {
  margin: 12px 0 24px;
  text-align: center;
  border-top: 1px solid $color-border-light;

  li {
    padding: 8px 0;
    line-height: 20px;
    font-weight: bold;
    border-bottom: 1px solid $color-border-light;
  }
}

.plan-unsupported {
  text-decoration: line-through;
}


// plan in animation
html.cssanimations {
  .plan-content {
    animation: planAnim 0.4s forwards ease-in-out;
    opacity: 0;
  }
}

@keyframes planAnim {
  0% {
    transform: translateY(-40px);
    opacity: 0;
  }

  70% {
    transform: translateY(8px);
    opacity: 1;
  }

  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
