// request cancellation screen


.cancellation-actions {
  position: relative;
  height: 36px;
}
.cancellation-actions__cancel {
  position: absolute;
  top: 0;
  right: 168px;
}
.cancellation-actions__proceed {
  width: 160px;
  position: absolute;
  top: 0;
  right: 0;
}