// error instance sidebar

.ei-sidebar-item {
  border-bottom: 1px solid $color-border;
  padding: 24px 0 24px 24px;

  @include screen-med {
    border-color: $color-border;
    padding: 16px;
  }
}

// first seen / last seen
.ei-sidebar-table {
  td {
    padding: 4px 12px 4px 0;
  }
}

.ei-sidebar-item-content {
  margin: 24px 0 0;
}


// sidebar heading
.ei-sidebar-heading {
  position: relative;
  margin: 0 0 8px;
  line-height: 16px;

  &.has-before {
    padding-left: 20px;
  }
  &.is-red:before {
    background: $color-ember;
  }

  &.is-blue:before {
    background: $color-azure;
  }

  &.is-red:before,
  &.is-blue:before {
    content: '';
    position: absolute;
    border-radius: 50%;
    top: 4px;
    left: 0;
    height: 8px;
    width: 8px;
  }
}
.ei-sidebar-heading--view {
  padding-right: 64px;
}


.ei-sidebar-duration {
  line-height: 1.4;
}

.ei-sidebar-heading-view {
  display: block;
  width: 64px;
  position: absolute;
  right: 0;
  top: -4px;
}

.eism-btn-after {
  display: block;
  position: absolute;
  top: 4px;
  right: 4px;
}

// sidebar list
.ei-sidebar-list {
  li {
    position: relative;
    padding: 8px 4px 8px 24px;
    margin: 0 0 2px;
    border-radius: 3px;
    line-height: 16px;
    font-weight: bold;
  }
}

.ei-sidebar-list-icon {
  position: absolute;
  top: 8px;
  left: 0;
}


// tooltip
.ei-sidebar-tooltip {
  position: relative;
}

.ei-ctc-tooltip {
  z-index: 2;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 8px 12px;
  color: $white;
  background: $color-stealth;
  border-radius: 3px;
}

.ei-ctc-count,
.ei-ctc-time {
  padding: 4px 0;
}

.ei-ctc-time {
  color: $color-grey-lighter;
}


html.cssanimations {
  .ei-ctc-tooltip {
    animation: ctc-tooltip 0.08s forwards ease-in-out;
  }
}

@keyframes ctc-tooltip {
  0% {
    opacity: 0;
    top: 10px;
  }
  100% {
    opacity: 1;
    top: -4px;
  }
}