// Assignment block
.ei-assignment-assignable-list {
  display: inline-block;
  float: left;
}


.ei-assign-container {
  position: relative;
  padding: 0 48px 0 0;
}

.ei-assignment-assignable-button {
  position: absolute;
  top: 0;
  right: 0;
}