// Error instance layout

$ei-header-responsive: 640px;
$ei-sidebar: 240px;


// error instance layout
.ei-content__sidebar {
  float: left;
  width: 25%;
  border-left: 1px solid $color-border;
  @include screen-max {
    width: 20%;
  }
  @include screen-med {
    width: auto;
    float: none;
    padding: 0;
    border: 1px solid $color-border;
    background: $white;
    box-shadow: $box-shadow;
  }
}
.ei-content__primary {
  float: left;
  padding: 24px 24px 24px 0;
  width: 75%;
  @include screen-max {
    width: 80%;
  }
  @include screen-med {
    width: auto;
    padding: 0;
    float: none;
  }
}




// page container replacement
.ei-page-container {
  padding: 0 24px 24px;
  @media screen and (max-width:$screen-med) {
    padding: 0 16px 16px;
  }
  @media screen and (max-width:$screen-mob) {
    padding: 0 12px 12px;
  }
}

// trial banner
.js-ei-trialbanner {
  .trial-banner {
    margin: 0 0 40px;
  }
}

// error container
.ei-container {
  position: relative;
  
  @media screen and (max-width:$screen-med) {
    padding: 24px 0;
  }
}

// Comments section
.ei-comments-activity-title {
  float: right;
}
.ei-comment-preview {
  padding: 12px;
  min-height: 40px;
  background: $background-color;
  border-radius: 3px;
}