// instance group heaing
.ei-controls {
  position: relative;
  padding: 0 240px 0 0;
  margin: 0 0 16px;
  @include screen-mob {
    padding: 0;
  }
}

.ei-controls-pagination {
  position: absolute;
  top: 0;
  right: 0;
  @include screen-mob {
    position: static;
  }
}

.ei-controls-heading {
  padding: 8px 0;
  line-height: 16px;
  @include screen-mob {
    padding: 0;
    margin: 0 0 12px;
  }
}

// grouped pagination control
.ei-pagination {
  .button {
    display: block;
  }
  li {
    float: left;
    margin-left: 4px;
    @include screen-mob {
      width: 25%;
    }
    &:first-child {
      margin: 0;
    }
  }
}

.ei-instance-item-loading {
  opacity: 0.5;
  pointer-events: none;
}

// Autocomplete dropdown for users and emoji and things
#wmd-input-suggestions {
  border: 1px solid $background-color;
  box-shadow:0 0 5px rgba(0,0,0,0.1);
  position: absolute;
  z-index: 99999;
  background: white;
  width: 300px;
  margin-top: 30px;

  li {
    padding: 10px;
    border-bottom: 1px solid $background-color;

    &:last-of-type{
      border-bottom:none;
    }

    &:hover, &.active {
      background: $color-azure;
      color: white;
      cursor: pointer;
    }
  }
}