// Flat icons
//
// .icon-desktop - Description
// .icon-laptop - Description
// .icon-tablet - Description
// .icon-mobile - Description
// .icon-stopwatch - Description
// .img-icon - Description
// .key-icon - Description
// .bell-icon - Description
// .wrench-icon - Description
// .gauge-icon - Description
// .dashboard-icon - Description
// .addapplication-icon - Description
// .change-icon - Description
// .question-icon   - Description
// .trashcan-icon - Description
// .plan-icon - Description
// .application-icon - Description
// .grid-icon - Description
// .grid-large-icon - Description
// .grid-square-icon - Description
// .grid-square-large-icon - Description
// .rows-square-icon - Description
// .team-icon - Description
// .invoice-icon - Description
// .consumers-icon - Description
// .chain-angled-icon - Description
// .file-icon - Description
// .share-icon - Description
// .lock-icon - Description
// .unlock-icon - Description
// .calendar-icon - Description
// .time-icon - Description
// .star-icon - Description
// .play-icon - Description
// .user-icon - Description
// .storage-icon - Description
// .auditlog-icon - Description
// .rewind-icon - Description
// .back-icon - Description
// .forward-icon - Description
// .fast-forward-icon - Description
// .arrowleft-icon - Description
// .arrowright-icon - Description
// .arrowup-icon - Description
// .arrowdown-icon - Description
// .doublearrowleft-icon - Description
// .doublearrowright-icon - Description
// .dropdown-icon - Description
// .globe-icon - Description
// .menu-icon - Description
// .add-icon - Description
// .plus-icon - Description
// .login-icon - Description
// .logout-icon - Description
// .add-user-icon - Description
// .eye-icon - Description
// .mask-icon - Description
// .unmask-icon - Description
// .search-icon - Description
// .icon-before.left-icon - Description
// .icon-before.circle-down-icon - Description
// .tshirt-icon - Description
// .icon-after.tshirt-icon - Description
// .cog-icon - Description
// .settings-icon - Description
// .plane-icon - Description
// .plugins-icon - Description
// .refresh-icon - Description
// .comment-icon - Description
// .comment-double-icon - Description
// .expand-icon - Description
// .download-icon - Description
// .edit-icon - Description
// .map-icon - Description
// .i-icon - Description
// .light-bulb-1-icon - Description
// .light-bulb-2-icon - Description
// .save-icon - Description
// .cross-icon - Description
// .cancel-icon - Description
// .remove-icon - Description
// .close-icon - Description
// .cross-circle-icon - Description
// .cancel-circle-icon - Description
// .remove-circle-icon - Description
// .close-circle-icon - Description
// .cross-square-icon - Description
// .cancel-square-icon - Description
// .remove-square-icon - Description
// .close-square-icon - Description
// .pencil-icon - Description
// .infinity-icon - Description
// .invitation-icon - Description
// .clock-icon - Description
// .email-icon - Description
// .feedback-icon - Description
// .compose-icon - Description
// .description-icon - Description
// .setup-icon - Description
// .link-icon - Description
// .warning-icon - Description
// .tick-icon - Description
// .infinity-icon - Description
// .application-icon - Description
// .nodes-icon - Description
// .plus-icon - Description
// .minus-icon - Description
// .minus-circle-icon - Description
// .minus-square-icon - Description
// .draghandle-icon - Description
// .view-icon - Description
// .time-icon - Description
// .app-audit-icon - Description
// .plan-audit-icon - Description
// .aggregated-icon - Description
// .aggregate-icon - Description
// .grouped-icon - Description
// .clipboard-tick-icon - Description
// .clipboard-cross-icon - Description
// .clipboard-minus-icon - Description
// .clipboard-plus-icon - Description
// .error-summary-icon - Description
// .error-details-icon - Description
// .error-request-icon - Description
// .error-environment-icon - Description
// .error-custom-icon - Description
// .error-raw-icon - Description
// .resolved-error-icon - Description
// .ignored-error-icon - Description
// .permanently-ignored-error-icon - Description
// .mute-icon - Description
//
// Markup:
// <div class="flat-icon {{modifier_class}} icon-16"></div>
//
// Styleguide 5.3








// FlatIcons
@font-face {
  font-family: 'flaticons';
  src: url('../fonts/flat-stroke/flaticons-stroke.eot');
  src: url('../fonts/flat-stroke/flaticons-stroke.eot?#iefix') format("embedded-opentype"),
       url('../fonts/flat-stroke/flaticons-stroke.ttf') format('truetype'),
       url('../fonts/flat-stroke/flaticons-stroke.svg#flaticons-stroke') format('svg');
  font-weight: normal;
  font-style: normal;
}

// flat-icon
.flat-icon {
  font-family: 'flaticons';
  font-weight: normal;
  vertical-align: middle;
}

// -- icons



// devices
.icon-desktop:before{content:'\e464';}
.icon-laptop:before{content:'\e463';}
.icon-tablet:before {content:'\e462';}
.icon-mobile:before {content:'\e460';}
.icon-stopwatch:before{content:'\e4ef';}


.icon-circle,
.icon-circle {
  padding: 4px;
  &:before {
    content: '';
    display: block;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: $color-stealth;
  }
}
.icon-circle--red:before {background: $color-ember;}
.icon-circle--green:before {background: $color-forest;}


// My Settings Icons
.img-icon:before {content: '\e46a';}
.key-icon:before {content: '\e42a';}
.bell-icon:before {content: '\e42b';}
.wrench-icon:before {content: '\e516';}
.gauge-icon:before {content:'\e4f4';}

.dashboard-icon:before {content:'\e507';}
.addapplication-icon:before {content:'\e3f1';}

.change-icon:before {content:'\e586';}
.question-icon:before {content:'\e4ab';}

.trashcan-icon:before {content: '\e480';}
.plan-icon:before {content: '\e4b7';}
.application-icon:before,
.grid-icon:before {content:'\e3e8';}
.grid-large-icon:before {content:'\e3e9';}
.grid-square-icon:before {content:'\e3ea';}
.grid-square-large-icon:before {content:'\e3eb';}
// ToDo: add to style guide
.rows-square-icon:before {content:'\e53c';}
.team-icon:before {content: '\e4b5';}
.invoice-icon:before {content: '\e47e';}
.consumers-icon:before,
.chain-angled-icon:before {content: '\e4a7';}
.file-icon:before {content:'\e404';}
.share-icon:before {content: '\e497';}
.lock-icon:before {content: '\e426';}
.unlock-icon:before {content: '\e425';}
.calendar-icon:before{ content: '\e477'; } // Todo: add to style guide
.time-icon:before{ content: '\e4ed'; } // Todo: add to style guide
.star-icon:before{content:'\e49d'; }
.play-icon:before {content:'\e575';}
.user-icon:before {content:'\e4b4';}
.storage-icon:before{content:'\e524';}
.auditlog-icon:before {content:'\e44d';}

// pagination
// next / previous
.rewind-icon:before {content: '\e59c';}
.back-icon:before {content: '\e5aa';}
.forward-icon:before {content: '\e5ab';}
.fast-forward-icon:before {content: '\e59d';}

// arrows
.arrowleft-icon:before {content:'\e5aa';}
.arrowright-icon:before {content:'\e5ab';}
.arrowup-icon:before {content:'\e5a8';}
.arrowdown-icon:before{content:'\e5a9';}
.doublearrowleft-icon:before {content:'\e573';}
.doublearrowright-icon:before {content:'\e576';}

// dropdown-icon
.dropdown-icon:before{content:'\e5a5';}


// navigation
.globe-icon:before { content: '\e4fd'; }
.menu-icon:before {content: '\e540';}
.add-icon:before,

.plus-icon:before {content: '\e5a0';}


// login - logout
.login-icon:before {content: '\e55c';}
.logout-icon:before {content: '\e559';}

// Social
.add-user-icon:before {content: '\e4b1';}

// mask / unmask
.eye-icon:before,
.mask-icon:before {content:'\e45f';}
.unmask-icon:before {content:'\e45e';}

.search-icon:before {content: '\e45a';}
.icon-before.left-icon:before {content: '\e5aa';}
.icon-before.circle-down-icon:before {content: '\e5bd';}
.tshirt-icon:before {content: '\e455';}
.icon-after.tshirt-icon:before {content: '\e455';}


.cog-icon:before,
.settings-icon:before {content:'\e514';}
.plane-icon:before {content:'\e496';}
.plugins-icon:before {content:'\e525';}
.refresh-icon:before {content:'\e58b';}

.comment-icon:before {content:'\e420';}
.comment-double-icon:before {content:'\e421';}
.expand-icon:before {content:'\e590';}
.download-icon:before {content:'\e561';}
.edit-icon:before {content:'\e48b';}
.map-icon:before {content: '\e4f5';}
.i-icon:before {content:'\e4af';}

.light-bulb-1-icon:before {content:'\e504';}
.light-bulb-2-icon:before {content:'\e506';}

.save-icon:before {content:'\e5a2';}
.cross-icon:before,
.cancel-icon:before,
.remove-icon:before,
.close-icon:before {content: '\e5a3';}

.cross-circle-icon:before,
.cancel-circle-icon:before,
.remove-circle-icon:before,
.close-circle-icon:before {content: '\e5b7';}

.cross-square-icon:before,
.cancel-square-icon:before,
.remove-square-icon:before,
.close-square-icon:before {content: '\e5cb';}

.pencil-icon:before {content: '\e48d';}

.infinity-icon:before {content:'\e585';}
.invitation-icon:before {content: '\e495';}
.clock-icon:before {content: '\e4ed';}
.email-icon:before {content:'\e493';}
.feedback-icon:before,
.compose-icon:before {content: '\e489';}
.description-icon:before {content: '\e441';}
.setup-icon:before {content: '\e516';}

.link-icon:before {
  content: '\e4a9';
}



.warning-icon:before {content:'\e4ac';}
.tick-icon:before {content:'\e5a2';}
.infinity-icon:before {content:'\e585';}
.application-icon:before {content:'\e3e8';}
.nodes-icon:before {content:'\e525';}

.plus-icon:before {content:'\e5a0';}
.minus-icon:before {content:'\e5a1';}
.minus-circle-icon:before {content:'\e5b5';}
.minus-square-icon:before {content:'\e5c9';}

// drag icon
.draghandle-icon:before {content: '\e53d';}

// dashboard ordering icons
.view-icon:before {content: '\e497';}
.time-icon:before {content: '\e4ee';}

// audit log
.app-audit-icon:before { content: '\e3ef'; }
.plan-audit-icon:before { content: '\e4b7'; }

// mydashboard
.aggregated-icon:before,
.aggregate-icon:before {content:'\e541';}
.grouped-icon:before {content:'\e53f';}

.clipboard-tick-icon:before { content: '\e5ca' }
.clipboard-cross-icon:before { content: '\e5cb' }
.clipboard-minus-icon:before { content: '\e5c9' }
.clipboard-plus-icon:before { content: '\e5c8' }

// error tab icons
.error-summary-icon:before {content:'\e584';}
.error-details-icon:before {content:'\e3fb';}
.error-request-icon:before {content:'\e4e4';}
.error-environment-icon:before {content:'\e4bd';}
.error-custom-icon:before {content:'\e4f5';}
.error-raw-icon:before {content:'\e4e3';}

//.error-icon:before {content:'\e5a3';}
.resolved-error-icon:before {content:'\e5a2';}
.ignored-error-icon:before {content:'\e57f';}
.permanently-ignored-error-icon:before,
.mute-icon:before {content:'\e57e';}