// unlock module

.module-unlock {
  position: relative;
  padding-left: 304px;
  @include screen-mob {
    padding: 0;
  }
}
.module-unlock__lock {
  display: table-cell;
  position: absolute;
  vertical-align: middle;
  text-align: center;
  height: 100%;
  left: 0;
  top: 0;
  @include screen-mob {
    display: none;
  }
}
.module-unlock__module {}

.module--application-unlock {
  min-height: 320px;
  @include screen-mob {
    min-height: auto;
  }
}

.unlock-card {
  position: relative;
  width: 280px;
  height: 100%;
  min-height: 320px;
  padding: 40px 0;
  border-radius: 3px;
  background: $color-grey-lighter;
  @include screen-mob {
    height: auto;
    width: auto;
    margin-bottom: 24px;
  }
}
.unlock-card--purple {
  background: $color-byzantine-light;
}
.unlock-card--blue {
  background: $color-azure;
}



//-- unlock limits
.unlock-list {
  margin-top: 8px;
  li {
    padding: 12px;
    margin: 0 0 1px;
    background: $color-grey-lightest;
  }
}
.unlock-list-item {
  position: relative;
  padding: 0 0 0 28px;
}
.unlock-list-item__icon {
  position: absolute;
  top: 0;
  left: 0;
}
.unlock-list-item__content {
  line-height: 16px;
}


//-- unlock || start trial button
.unlock-button {
  position: relative;
  height: 40px;
  @include screen-min {
    padding: 0;
    text-align: left;
  }
}
.unlock-button__button {
  position: absolute;
  top: 0;
  right: 0;
  width: 240px;
  @include screen-min {
    width: auto;
    position: static;
  }
}








.unlock-grid {
  display: table;
  table-layout: fixed;
  width: 100%;
  @include screen-mob {
    display: block;
  }
}
.unlock-grid__row {
  display: table-row;
  @include screen-mob {
    display: block;
  }
}
.unlock-grid__cell {
  width: 50%;
  display: table-cell;
  padding: 24px;
  @include screen-min {
    padding: 16px;
  }
  @include screen-mob {
    padding: 12px;
    display: block;
    width: 100%;
  }
}


.unlock-feature {
  position: relative;
  padding-left: 56px;
  min-height: 56px;
}
.unlock-feature__icon {
  position: absolute;
  width: 56px;
  height: 56px;
  left: 0;
  top: 0;
}
.unlock-feature__content {
  margin-left: 16px;
}








// generic page transitions.
html.csstransitions {
  
  .transition-center {
    opacity: 1;
    @include transition(all 240ms ease-in-out);
  }

  .transition-left,
  .transition-right {
    opacity: 0;
  }
  .transition-right {
    transform: translateX(20px);
  }
  .transition-left {
    transform: translateX(-20px);
  }
}



