// lock graphic
.application-lock {
  @extend noselect;
  margin: 0 auto;
  position: relative;
  width: 160px;
  height: 220px;
}

.application-lock__case {
  padding: 20px 30px;
  border-radius: 4px;
  position: absolute;
  background: $color-grey-lightest;
  height: 140px;
  width: 160px;
  top: 80px;
  left: 0;
  box-shadow: 0 2px 2px rgba(0,0,0,0.15);
}

.application-lock__tumbler {
  @include transition(all 80ms ease-out);
  border-radius: 50%;
  width: 100px;
  height: 100px;
  background: $color-azure;
  background-image: url('../Content/images/plan-settings/lock-tumbler.png');
  background-repeat: no-repeat;
  background-position: center;
}
.application-lock__tumbler--purple {
  background-color: $color-byzantine-light;
}
.application-lock__tumbler--blue {
  background-color: $color-azure;
}

.application-lock__shackle {
  @include transition(all 80ms ease-out);
  position: absolute;
  height: 126px;
  width: 160px;
  top: 0;
  left: 0;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('../Content/images/plan-settings/lock-shackle.png');
}


// unlock state
.application-lock--unlock {
  .application-lock__tumbler {
    animation: unlock-tumbler 0.4s forwards ease-in-out;
  }
  .application-lock__case {
    animation: unlock-case 0.4s forwards ease-in-out;
  }
  .application-lock__shackle {
    transform: translateY(-8px);
  }
}

//-- tumbler
@keyframes unlock-tumbler {
  0% {transform: rotate(0);}
  70% {transform: rotate(35deg);}
  100% {transform: rotate(25deg);}
}

//-- case
@keyframes unlock-case {
  0% {
    transform: translateY(0);
  }
  60% {
    transform: translateY(32px);
  }
  80% {
    transform: translateY(20px);
  }
  100% {
    transform: translateY(24px);
  }
}