// application dashboard + TV mode

.app-dashboard {
  position: relative;
  padding: 0 25% 0 0;

  @include screen-min {
    padding: 0;
  }
}

// stats header
.dashboard-stats {
}

.dashboard-stats__stat {
  width: 25%;
  float: left;

  @include screen-min {
    width: 50%;
  }
  @include screen-mob {
    width: 100%;
  }
}

.dashboard-stats__stat--1 {
  border-right: 1px solid $color-border-light;

  @include screen-min {
    border-bottom: 1px solid $color-border-light;
  }

  @include screen-mob {
    border-bottom: 1px solid $color-border-light;
    border-right: none;
  }
}

.dashboard-stats__stat--2 {
  border-right: 1px solid $color-border-light;
  @include screen-min {
    border-bottom: 1px solid $color-border-light;
    border-right: none;
  }
}

.dashboard-stats__stat--3 {
  border-right: 1px solid $color-border-light;
  @include screen-mob {
    border-bottom: 1px solid $color-border-light;
    border-right: none;
  }
}
.dashboard-stats__stat--4 {}


.dashboard-stat {
  padding: 24px 24px 24px 88px;
  position: relative;
}

.dashboard-stat__title {
  margin: 0 0 4px;
  font-weight: bold;
  width: 100%;
}

.dashboard-stat__icon {
  position: absolute;
  top: 24px;
  left: 24px;
  padding: 8px;
  background: $color-stealth;
  color: $white;
  border-radius: 4px;
}



// dashboard content
.app-dashboard__content {
  margin: 0 24px 0 0;

  @include screen-min {
    width: 100%;
    margin-bottom: 24px;
  }
}

.dashboard-chart-layout {
}

.dashboard-chart-layout__full {
  width: 100%;
  float: left;
  padding: 24px;
  border-bottom: 1px solid $color-border-light;
}

.dashboard-chart-layout__half {
  width: 50%;
  float: left;
  padding: 24px;
}

.dashboard-chart-layout__half--border {
  border-right: 1px solid $color-border-light;
}



// dashboard requests
.app-dashboard__requests {
  position: absolute;
  height: 100%;
  width: 25%;
  top: 0;
  right: 0;

  @include screen-min {
    position: static;
    width: 100%;
    height: 400px;
  }
}


// live requests

.dashboard-requests {
  height: 100%;
  overflow: hidden;
}



.request-list {
  height: 100%;
  overflow: hidden;
  background: $white;
}

.request-list__item {
  background: $white;
  border-bottom: 1px solid $color-border-light;
  @include font-size(1.2);
}


.dashboard-request {
  padding: 12px 12px 12px 48px;
  height: 100%;
  overflow: hidden;
  position: relative;
  height: 56px;
}

.dashboard-request__nodata {
  text-align: center;
  padding: 24px 0;
}


.dashboard-request__avatar {
  position: absolute;
  top: 12px;
  left: 12px;
}

.dashboard-request__url {
  line-height: 16px;
}

.dashboard-request__timestamp {
  line-height: 16px;
}

.dashboard-request__location {
  position: absolute;
  bottom: 12px;
  right: 12px;
}


@keyframes requestItemAnim {
  0% {
    background: rgba($color-azure,0.1);
  }
  100% {
    background:white;
  }
}