
@-webkit-keyframes anm-table-row-flash {
  0% { background-color: none; }
  20% { background-color: $color-ember-light; }
  80% { background-color: $color-ember-light; }
  100% { background-color: none; }
}

@keyframes ana-bad-pulse {
  0% {
    box-shadow: 0 0 0 4px rgba($color-ember,0);
    border-width: 0;
  }
  30% {
    box-shadow: 0 0 0 4px rgba($color-ember,0);
    border-width: 0;
  }
  40% {
    box-shadow: 0 0 0 4px rgba($color-ember,0);
    border-width: 6px;
  }
  40.1% {
    box-shadow: 0 0 0 4px rgba($color-ember,0.3);
    border-width: 0;
  }
  55% {
    box-shadow: 0 0 0 4px rgba($color-ember,0);
    border-width: 6px;
  }
  55.1% {
    box-shadow: 0 0 0 4px rgba($color-ember,0.3);
    border-width: 0;
  }
  75% {
    box-shadow: 0 0 0 4px rgba($color-ember,0);
    border-width: 6px;
  }
  75.1% {
    box-shadow: 0 0 0 4px rgba($color-ember,0);
    border-width: 0;
  }
  90% {
    box-shadow: 0 0 0 4px rgba($color-ember,0);
    border-width: 6px;
  }
  100% {
    box-shadow: 0 0 0 4px rgba($color-ember,0);
    border-width: 0;
  }
}



.ana-request-status{
  position: relative;
  width: 100%;
  line-height: 24px;
}

.ana-request-status__icon{
  border-radius: 50%;
  display: block;
  vertical: middle;
}

.ana-request-status__icon--center{
  margin: 0 auto;
}
.ana-request-status__icon--good{
  width: 6px;
  height: 6px;
  background-color: $color-forest;
}

.ana-request-status__icon--bad{
  background-color: rgba($color-ember,1);
  border: 0 solid $white;
  box-sizing: content-box;
  width: 6px;
  height: 6px;
  box-shadow: 0 0 0 16px rgba($color-ember,0.6);
  animation: ana-bad-pulse 5s infinite ease-out;
}


