// item instance
.audit-item {
  position: relative;
  padding: 14px 16px 14px 72px;
  background: $white;

  @include screen-mob {
    margin-left: 0;
  }

  &:before {
    content: '';
    position: absolute;
    display: block;
    width: 2px;
    bottom: -1px;
    left: -2px;
    top: -1px;
    background: $color-border;
  }

  &.is-green:before {
    background: $color-forest;
  }

  &.is-blue:before {
    background: $color-azure;
  }

  &.is-yellow:before {
    background: $color-lightning;
  }

  &.is-red:before {
    background: $color-ember;
  }
}

.audit-section-item {
  .audit-item {
    border: 1px solid $color-border;
    border-top-width: 0; 
  }

  &:first-child {
    .audit-item {
      border-top-width: 1px;
    }
  }
}


// item contents
.audit-item-avatar {
  position: absolute;
  top: 16px;
  left: 16px;
  width: 32px;
  height: 32px;
  border-radius: 3px;
}

.audit-item-application {
  position: absolute;
  top: 36px;
  left: 36px;
  width: 20px;
  height: 20px;
  content: '';
  display: block;
  box-shadow: 0 0 0 2px $white;
  border-radius: 2px;
}

.audit-item-heading {
  margin: 2px 0;
  padding: 0 80px 0 0;
  line-height: 16px;
  line-height: 1.4;

  @include screen-mob {
    padding: 0;
  }
}
 
.audit-item-time {
  position: absolute;
  top: 16px;
  right: 16px;
  color: $text-grey;
  @include font-size(1.4);

  @include screen-mob {
    position: static;
    margin: 2px 0;
  }
}

.audit-item-message {
  margin: 2px 0;
  line-height: 16px;
  line-height: 1.2;
}

.audit-item-errors {
  display: block;

  li {
    line-height: 16px;
    margin: 0 0 2px;
    display: none;
  }

  li:nth-child(1),
  li:nth-child(2),
  li:nth-child(3) {
    display: block;
  }
}

// better solution is to have following block inside above block.
// When .is-expanded is added to the .audit-item-errors.
.audit-error-list-wrapper.is-expanded {
  li {
    display: block;
  }
}

.audit-item-loadmore {
  margin: 12px 0 0;
}
