// No data Page
.nodata-chart {
  border: 1px solid $color-border;
  box-shadow: $box-shadow;
  padding: 80px 20px;
  text-align: center;
  background: $white;
  margin: 0 0 24px;
}

.nodata-list-title {
  position: relative;
  padding: 0 100px 0 0;
  margin: 0 0 24px;
  height: 40px;
  h4 {
    line-height: 40px;
  }
  .filter-button {
    position: absolute;
    right: 0;
    top: 0;
  }
}