.error-list-heading {
  margin: 0 0 16px;
  @include clearfix;
}

.error-list-title {
  
}

.version-widget {
  float: right;
}

.tags-widget {
  float: right;
}

.reset-widget {
  float: right;
  padding-right: 10px;
}

// Force Refresh Action
.force-refresh {
  height: 40px;
  float: right;
  p {
    margin: 0 40px 0 0;
    padding: 11px;
    line-height: 16px;
    height: 40px;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    border: 1px solid $color-grey-lightest;
    border-right: none;
    background: $background-color;
  }
  .button {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    float: right;
  }
}


// Filtering UI
ul.filter-tags {
  @extend clearfix;
  margin: -4px;
  li {
    @extend nowrap;
    color: $white;
    background: $color-azure;
    padding: 12px 40px 12px 16px;
    position: relative;
    height: 40px;
    border-radius: 2px;
    line-height: 16px;
    max-width: 100%;
    min-width: 140px;
    margin: 4px;
    float: left;
    font-weight: bold;
  }
  button {
    border: none;
    border-radius: 0;
    background: none;
    padding: 12px;
    position: absolute;
    right: 0;
    top: 0;
    height: 40px;
    width: 40px;
    color: #1d6ac1;

    &:hover {
      color: $white;
    }
    &:active {
      color: $white;
      transform: translate(0,1px);
    }
  }
}

@media screen and (max-width:$screen-mob) {
  ul.filter-tags {
    margin: -4px;
    li {
      width: 100%;
      margin: 4px 0;
    }

    .icon-16 {
      position: absolute;
      right: 12px;
      top: 12px;
    }
  }
}

// old filter-button and heading style
.report-heading {
  position: relative;
  line-height: 32px;
  height: 32px;
  .filter-button {
    position: absolute;
    top: 0;
    right: 0;
  }
}




// loading spinner container?
.raygun-loading {
  padding: 24px 0;
 }


// placeholder sandbox styles
.overview-heading {
  position: relative;
}
.overview-controls {
  position: absolute;
  right: 0;
  top: 0;
}
.overview-chart {
  height: 180px;
}



// chart styles
#chart_container {
  position: relative;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: -moz-none;
	-ms-user-select: none;
	user-select: none;
  background: $white;
}

// this controls the charts height
#chart_container,
#graphArea {
  height: 240px;
}  