// new styles
// has-comments or has-link icons, A is blue, this makes a non link grey
span.overview-action-link {
  color: $color-grey-dark;
}

.overview-action-link {
  float: left;
  margin: 0 8px 0 0;
  width: 16px;
  height: 16px;
  display: block;
  &:last-child {
    margin: 0;
  }
}

.overview-table-controls {
  position: relative;
  padding: 4px 4px 4px 60px;
  border-bottom: 1px solid $background-color;
  .button,
  .dropdown-button {
    float: left;
    margin: 0 4px 0 0;
    .button {
      margin: 0;
    }
  }
  .solo-checkbox {
    position: absolute;
    left: 24px;
    top: 12px;
  }
}

// mobile table cell
.overview-table-mob {display: none;}
@media screen and (max-width:$screen-min) {
  .overview-table-mob {display: table-cell;}
}

.overview-table__cell {
  &,span {display: block;}
}

.overview-cell-message {margin: 0 0 2px;}
.overview-cell-time {float: left;}
.overview-cell-count {float: right;}


// tab content nodata message
.nodata-message {
  position: relative;
  padding: 24px 0;
  text-align: center;
}


.overview-reload {
  float: right;
  position: relative;
  padding: 0 0 0 32px;
  .button {
    position: absolute;
    left: 0;
    top: 0;
    float: none;
    margin: 0;
  }
  p {
    margin: 0 0 0 8px;
    white-space: nowrap;
    line-height: 32px;
  }
}