// -- heroku enabled stylesheet
// moving the page down 32px if heroku is enabled

$heroku-height: 32px;

body.heroku-boomerang-loaded {
  margin-top: $heroku-height;
  .layout__header,
  .layout__applications {
    margin-top: $heroku-height;
    @include screen-min {
      margin-top: 0;
    }
  }
}
