// User Dropdown

.user-dropdown {
  @extend noselect;
  position: relative;
  z-index: 4;
  max-width: 320px;
}

.user-dropdown--open {
  .user-dropdown__dropdown {
    display: block;
  }
}

.user-dropdown__dropdown--open {
  display: block;
}

// button region
.user-dropdown__button {}

//--button
.user-button {
  position: relative;
  cursor: pointer;
  display: block;
  height: 40px;
  padding: 12px 40px 12px 44px;
  color: rgba($white,0.85);
  @include screen-mob {
    padding: 12px 32px;
  }

  &:hover,
  &:active {
    color: $white;
  }
}
.user-button--active {
  color: $white;
}

.user-button__indicator {
  display: none; // not wired up yet
  position: absolute;
  top: 4px;
  left: 26px;
  z-index: 2;
  width: 12px;
  height: 12px;
  border: 2px solid $white;
  border-radius: 50%;
  background: $color-ember;
}

.user-button__avatar {
  position: absolute;
  top: 8px;
  left: 8px;
  .avatar {
    background-color: $white;
  }
}

.user-button__username {
  line-height: 16px;
  @include screen-mob {
    display: none;
  }
}

.user-button__arrow {
  position: absolute;
  top: 12px;
  right: 12px;
}


//--dropdown
.user-dropdown__dropdown {
  display: none;
  position: absolute;
  top: 100%;
  right: 0;
  min-width: 100%;
  background: $white;
  border: 1px solid $color-border-transparent;
  -webkit-background-clip: padding;
  background-clip: padding-box;
  box-shadow: $dropdown-shadow;
}

// dropdown--options
.user-dropdown__section {

  padding: 6px 0;
  border-bottom: 1px solid $color-border-light;
  &:last-child {
    border: none;
  }
}

.user-dropdown__heading {
  padding: 0 12px;
  margin: 8px 0;
  font-weight: bold;
  line-height: 16px;
  @include font-size(1.4);
}


// user plan block

.user-plan {
  margin: 2px 12px;
  display: block;
  border-radius: 3px;
  position: relative;
  min-width: 260px;
  padding: 8px 40px;
  background: $color-grey-lighter;
  &:hover {
    background: $color-grey-light;
  }
  &:active {
    background: $color-grey;
  }

  &,
  &:hover,
  &:active {
    color: $text-1;
  }
}

.user-plan--oversize {
  background: rgba($color-ember,0.2);

  &:hover {
    background: rgba($color-ember,0.25);
  }

  &:active {
    background: rgba($color-ember,0.3);
  }
}

.user-plan__avatar {
  position: absolute;
  top: 8px;
  left: 12px;
}

.user-plan__settings {
  position: absolute;
  top: 8px;
  right: 12px;
  color: $text-grey;
}

.user-plan__name {
  margin-bottom: 4px;
  line-height: 16px;
}

.user-plan__details {
  li {
    margin-top: 4px;
  }
}

// user options
.user-option {
  cursor: pointer;
  display: block;
  position: relative;
  line-height: 16px;
  padding: 10px 12px;
  background: $white;
  color: $text-1;
  border-left: 3px solid transparent;
  &:hover,
  &:active  {
    color: $text-1;
    border-color: $color-border-dark;
    background: $background-color;
  }
}

.user-option__icon {
  position: absolute;
  display: block;
  top: 10px;
  left: 12px;
  color: $text-grey;
}

.user-option__text {
  @extend nowrap;
  display: block;
  line-height: 16px;
}