// User Dropdown

//--button
.user-button {
  @extend noselect;
  position: relative;
  cursor: pointer;
  display: block;
  height: 40px;
  padding: 12px 40px 12px 44px;
  color: rgba($white,0.85);
  @include screen-mob {
    padding: 12px 32px;
  }

  &:hover,
  &:active {
    color: $white;
  }
}
.user-button--active {
  color: $white;
}

.user-button__indicator {
  display: none; // not wired up yet
  position: absolute;
  top: 4px;
  left: 26px;
  z-index: 2;
  width: 12px;
  height: 12px;
  border: 2px solid $white;
  border-radius: 50%;
  background: $color-ember;
}

.user-button__avatar {
  position: absolute;
  top: 8px;
  left: 8px;
  .avatar {
    background-color: $white;
  }
}

.user-button__username {
  line-height: 16px;
  @include screen-mob {
    display: none;
  }
}

.user-button__arrow {
  position: absolute;
  top: 12px;
  right: 12px;
}