
.chart-tags-wrapper{
  text-align: center;
}

.chart-tags {
  display: inline-block;
  li {
    float: left;
    margin: 0 12px 0 0;
    position: relative;
    padding: 0 0 0 12px;
    line-height: 24px;
    @include font-size(1.4);

    &:last-child{
      margin-right: 0;
    }
  }
}

.chart-tag {
  display: block;
  position: absolute;
  left: 0;
  top: 50%;
  margin-top: -4px;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  margin-right: 4px;
}

.tag-blue {
  background: $color-alpine;
}
.tag-blue-dark {
  background: $color-graph-blue;
}

.tag-red {
  background: $color-ember;
}

.tag-yellow {
  background: $color-lightning;
}

.tag-green {
  background: $color-forest;
}

.tag-orange {
  background: $color-flame;
}

.tag-purple-light {
  background: $color-byzantine-light;
}
.tag-purple {
  background: $color-byzantine;
}
.tag-purple-dark {
  background: $color-byzantine-dark;
}

.tag-grey {
  background: $color-grey;
}

.tag-grey-dark {
  background: $color-grey-dark;
}

.tag-gold {
  background: $color-gold;
}

.tag-opera-red {
 background: $color-opera-red;
}

.tag-azure-blue {
  background: $color-azure
}

// Combination bar chart and table

.split-table-chart{
  position: relative;
  .split-table{
    width: 100%;
  }
  .split-chart{
    width: 300px;
    //overflow: hidden;
    position: absolute;
    top: 0;
    right: 24px;
    @media screen and (max-width:$screen-min) {
      right: 16px;
    }
  }
  .split-waterfall{
    width: 300px;
    position: absolute;
    top: 0;
    right: 0;
  }
}

// overide echarts inline style
div.split-table-graph > div {
    overflow: visible !important;
}

.table-pagination-controls {
  position: absolute;
  top: 11px;
  right: 24px;
}



.chart-standard{
  height: 350px;
}
.chart-small{
  height: 220px;
}
.chart-map{
  height: 412px;
}
.chart-map--tiny{
  height: 188px;
}
.chart-geo-layers{
  height: 64px;
}
.chart-geo-live-pulse{
  height: 130px;
}
.chart-gauge{
  width: 100px;
  height: 100px;
  position: absolute;
}
.chart-bar-trend{
  width: 104px;
  height: 56px;
  border-bottom: 1px solid $color-grey-light;
}
.ana-tab-item {
  .chart-bar-trend{
    margin: 0px auto;
  }
}
.chart-line-trend{
  width: 104px;
  height: 56px;
  margin: 0px auto;
}

.gauge-label{
  position: absolute;
}

.split-table-chart,
.chart-map,
.chart-standard{
  margin-bottom: 0;
}


.module-chart-small{
  min-height: 270px;
}

.rum-summary-list {
    margin: 12px 24px;
}
.rum-summary-item {
  float: left;
  width: 50%;
  padding: 24px;
}


.rum-summary-property,
.rum-summary-value {
  text-align: center;
  font-weight: bold;
  color: $text-grey;
}

.rum-summary-value {
  @include font-size(3);

  border-bottom: 1px solid $color-byzantine-light;
  padding-bottom: 12px;
  margin-bottom: 12px;
}

.log-checkbox {
  float: right;
  display: inline-block;
  padding-right: 20px;
  input {
    display: inline-block;
    vertical-align: middle;
  }
  span {
    display: inline-block;
    vertical-align: middle;
  }
}




// SET UP PAGE

.rum-set-up__api-key{
    width: 500px;
}

.pulse-datepicker-live {
  cursor: not-allowed;
  height: 32px;
  border-radius: 3px;
  padding: 8px;
  color: $text-grey;
  background: $color-grey-lightest;
}