// ITEM WITH VALUE AND LABEL

.rum-bars{
  width: 100%;
  text-align: center;
}
.rum-bars--tree{
  
}
.rum-bars__item{
  float: left;
  width: 33.333%;
  padding: 0 6px;
}
.rum-bars__item__value{
  @include font-size(1.8);
  text-align: center;
  margin: 12px 0 3px;    
  font-weight: bold;
  color: $color-grey-dark;
}
.rum-bars__item__lable{
  text-align: center;
}



// A SINGLE rum-BAR
.rum-bar{
  width: 30px;
  height: 50px;
  border-radius: 3px;
  position: relative;
  overflow: hidden;
  margin: 0 auto;
}

.rum-bar__forground,
.rum-bar__forground{    
  width: 100%;
  position: absolute;
  bottom: 0;
}
.rum-bar__forground{
  background-color: $color-byzantine-light;
}
.rum-bar__background{
 background-color: $color-grey-lightest; 
 height: 100%;
}