.meter-list{

}
.meter-list__item{
  position: relative;
  height: 32px;
  margin-bottom: 24px;
  &:last-child{
    margin-bottom: 0;
  }
}
.meter-list__item__subitem {
  position: absolute;
  bottom: 10px;
}
.meter-list__item__subitem--category{
  left: 0;
}
.meter-list__item__subitem--abs-val{
  right: 48px;
  width: 60px;
  .icon-16{
    color: $color-grey;
  }
}
.meter-list__item__subitem--rel-val{
  right: 0;
}
.meter-list__item__meter{
  height: 2px;
  bottom: 0;
  left: 0;
  width: 100%;
  position: absolute;
  background-color: $color-grey-lighter;
}
.meter-list__item__meter__bar{
  height: inherit;
  background-color: $color-byzantine-light;
  width: 0; // Sets with inline style

  transition: width .5s ease-out;
}

.meter-list__item__meter__bar--purple{
  background-color: $color-byzantine-light;
}
.meter-list__item__meter__bar--green{
  background-color: $color-forest-dark;
}
.meter-list__item__meter__bar--grey{
  background-color: $color-grey-dark;
}
.meter-list__item__meter__bar--red{
  background-color: $color-ember-light;
}





