.latency-container {
  box-shadow: $box-shadow;
}

// BARS
.latency-bar{
  background-color: $color-grey;
}
.latency-bar__partial{
  float: left;
  height: 8px;
  width: 0;
}
.latency-bar__partial--dns{
  background-color: $color-flame;
}
.latency-bar__partial--latency{
  background-color: $color-forest;
}
.latency-bar__partial--ssl{
  background-color: $color-lightning;
}
.latency-bar__partial--server{
  background-color: $color-azure;
}
.latency-bar__partial--download{
  background-color: $color-ember;
}
.latency-bar__partial--render{
  background-color: $color-alpine;
}
.latency-bar__partial--children{
  background-color: $color-byzantine;
}


// TAGS
.latency-tags{
  background: $white;
  border-right: 1px solid $color-grey-lighter;
  border-left: 1px solid $color-grey-lighter;
  border-bottom: 1px solid $color-grey-lighter;
}

.latency-tags__tag{
  float: left;
  padding: 12px;
  width: (100% / 7);
  border-color: $color-grey-lighter;
  border-style: solid;
  &:nth-child(2),
  &:nth-child(3),
  &:nth-child(4),
  &:nth-child(5),
  &:nth-child(6),
  &:nth-child(7){
    border-left-width: 1px;
  }
}

.latency-tags__tag__wrapper{
  position: relative;
  margin-bottom: 12px;
}
.latency-tags__tag__marker{
  width: 12px;
  height: 12px;
  border-radius: 50%;
  position: absolute;
  top: 2px;
  left: 0;
}
.latency-tags__tag__marker--dns{
  background-color: $color-flame;
}
.latency-tags__tag__marker--latency{
  background-color: $color-forest;
}
.latency-tags__tag__marker--ssl{
  background-color: $color-lightning;
}
.latency-tags__tag__marker--server{
  background-color: $color-azure;
}
.latency-tags__tag__marker--download{
  background-color: $color-ember;
}
.latency-tags__tag__marker--render{
  background-color: $color-alpine;
}
.latency-tags__tag__marker--children{
  background-color: $color-byzantine;
}
.latency-tags__label{
  padding-left: 24px;
  font-weight: bold;
}
.latency-tags__value__relative{
  float: right;
}
.latency-tags__value__absolute{
  float: left;
}

@include screen-min{
  .latency-tags__tag{
    border-bottom-width: 1px;
    width: (100% / 3);
    &:nth-child(2),
    &:nth-child(3),
    &:nth-child(5),
    &:nth-child(6),
    &:nth-child(7){
      border-left-width: 1px;
    }
    &:nth-child(4),
    &:nth-child(7){
      border-left-width: 0;
    }
    &:nth-child(7){
      border-bottom-width: 0;
      border-right-width: 1px;
    }
  }
}

@include screen-mob{
  .latency-tags__tag{
    width: 100%;
    &:nth-child(1),
    &:nth-child(2),
    &:nth-child(3),
    &:nth-child(4),
    &:nth-child(5){
      border-width: 0 0 1px 0;
    }
    &:nth-child(6){
      border-left-width: 0;
    }
    &:nth-child(7){
      border-right-width: 0;
    }
  }
}


