// Master name: analytics
// Child prefix: ana

// Container
.analytics-rum-tabs {
  margin-bottom: 24px;
}

.ana-cols-2 .ana-tab {
  width: (100% / 2);
}

.ana-cols-3 .ana-tab {
  width: (100% / 3);
}

.ana-cols-4 .ana-tab {
  width: (100% / 4);
}

.ana-cols-5 .ana-tab {
  width: (100% / 5);
}

.ana-cols-6 .ana-tab {
  width: (100% / 6);
}

// Item
.ana-tab {
  padding: 12px 4px;
  float: left;
  @extend noselect;
  cursor: default;
  border-left: 1px solid $color-grey-light;

  &:first-child {
    border-left: none;
  }

  @include screen-min {
    border-left: none;
    padding: 0;
    margin: 0;
    float: none;
  }
}

.ana-cols-6 .ana-tab {
  padding: 0 4px;
}


// Item__header
.ana-tab-item {
  text-align: center;
  border-radius: 3px;
}

.ana-header {
  position: relative;
  margin-bottom: 12px;
}

.ana-bottom-header {
  margin-top: 16px;
  position: relative;
}


.ana-label {
  @include font-size(1.4);
  opacity: 1;
  transform: translate(0, 0);
  transition: all .3s ease .3s;
  display: inline-block;
  width: 100%;
  color: $text-grey;
  display: block;
  font-weight: bold;

  @include screen-min {
    color: $text-black;
  }
}


.ana-value {
  @include font-size(2.4);
  line-height: 24px;
  color: $text-black;
  display: block;
  font-weight: bold;

  &.is-green {
    color: $color-forest-dark;
  }

  &.is-red {
    color: $color-ember-dark;
  }
  &.is-blue{
    color: $color-azure;
  }

  &.is-purple {
    color: #6E449A;
  }
}

.ana-explain {
  color: $color-grey-dark;
  opacity: 0;
  @include font-size(1.2);
  transform: translate(0, 10px);
  transition: all .3s ease;
  position: absolute;
  top: 0;
  width: 100%;

  @include screen-min {
    display: none;
  }
}

@include mw-screen-mob {
  .ana-tab-item:hover {
    .ana-header {
      .ana-explain {
        opacity: 1;
        transform: translate(0, 0);
        width: 100%;
        transition: all .3s ease 0.3s;
      }

      .ana-label {
        opacity: 0;
        transform: translate(0, -10px);
        transition: all .3s ease;
      }
    }
  }
}

.ana-tab-item {

  &.is-green {
    .ana-value {
      color: $color-forest-dark;
    }
  }

  &.is-red {
    .ana-value {
      color: $color-ember-dark;
    }
  }
}

.ana-graphic-container {
  min-height: 56px;
  margin-top: 16px;
  position: relative;

  &:first-child {
    margin-top: 0;
  }
}

.ana-score-icon {
  background-repeat: no-repeat;
  width: 56px;
  height: 56px;
  margin: 0 auto;

  &.is-positive {
    background-image: url(/Content/Images/pulse-icons/health-score-good.png);
  }

  &.is-neutral {
    background-image: url(/Content/Images/pulse-icons/health-score-average.png);
  }

  &.is-negative {
    background-image: url(/Content/Images/pulse-icons/health-score-bad.png);
  }
}

html.svg {

  .ana-score-icon {
    &.is-positive {
      background-image: url(/Content/Images/pulse-icons/health-score-good.svg);
    }

    &.is-neutral {
      background-image: url(/Content/Images/pulse-icons/health-score-average.svg);
    }

    &.is-negative {
      background-image: url(/Content/Images/pulse-icons/health-score-bad.svg);
    }
  }
}



.ana-user-satisfaction-icon {
  background-repeat: no-repeat;
  width: 56px;
  height: 56px;
  margin: 0 auto;

  &.is-positive {
    background-image: url(/Content/Images/pulse-icons/smilie-happy.png);
  }

  &.is-neutral {
    background-image: url(/Content/Images/pulse-icons/smilie-neutral.png);
  }

  &.is-negative {
    background-image: url(/Content/Images/pulse-icons/smilie-sad.png);
  }
}

html.svg {

  .ana-user-satisfaction-icon {
    &.is-positive {
      background-image: url(/Content/Images/pulse-icons/smilie-happy.svg);
    }

    &.is-neutral {
      background-image: url(/Content/Images/pulse-icons/smilie-neutral.svg);
    }

    &.is-negative {
      background-image: url(/Content/Images/pulse-icons/smilie-sad.svg);
    }
  }
}




.ana-tab-gauge {
  width: 100px;
  height: 100px;
  margin: 0 auto;
}

.ana-tab-gauge-label {
  @include font-size(2.8);
  color: $color-azure;
  position: absolute;
  top: 0;
  left: 0;
  line-height: 100px;
  font-weight: bold;
  text-align: center;
  width: 100%;
}





.ana-resoponsive-value {
  font-weight: bold;
  display: none;
}

@include screen-min {



  .ana-tab {
    width: 100% !important;
    float: none;
    padding-left: 0;
    margin: 4px 0 0 4px;
  }

  .analytics-rum-tabs.give-borders .ana-tab {
    border-left: none;
  }

  .ana-tab-item {
    border-radius: 0;
    border-bottom: 1px solid $color-grey-lighter;

    &:hover {
      .ana-header {
        .ana-explain {
          opacity: 0;
          transform: translate(0, 0);
          width: 100%;
          transition: none;
        }

        .ana-label {
          opacity: 1;
          transform: translate(0, 0);
          transition: none;
        }
      }
    }


    .ana-graphic-container {
      display: none;
    }

    .ana-header,
    .ana-value,
    .ana-bottom-header,
    .ana-resoponsive-value {
      position: relative;
      margin: 0;
      line-height: 40px;
      @include font-size(1.6);
    }

    .ana-header,
    .ana-bottom-header {
      float: left;
    }

    .ana-resoponsive-value,
    .ana-value {
      float: right;
      display: block;
    }
  }
}


@include screen-mob {
  .ana-tab {
    width: 100% !important;
    float: none;
    padding-left: 0;
    margin: 4px 0 0 4px;
  }

  .analytics-rum-tabs.give-borders .ana-tab {
    border-left: none;
  }

  .ana-tab-item {
    border-radius: 0;
    border-bottom: 1px solid $color-grey-lighter;
  }

  .ana-graphic-container {
    display: none;
  }

  .ana-header,
  .ana-value,
  .ana-bottom-header {
    position: relative;
    margin: 0;
    line-height: 40px;
    @include font-size(1.6);
  }

  .ana-header,
  .ana-bottom-header {
    float: left;
  }

  .ana-value {
    float: right;
  }
}
