/*.js-source-map-section {
  h2 {
    margin: 0 0 24px;
  }
  .dropzone {
    margin: 0;
  }
}

.js-source-map-table {
  margin: 0 300px 0 0;
}


.js-source-map-upload {
  display: block;
  width: 260px;
  float: right;
}

@media screen and (max-width:1500px) {
  .js-source-map-upload {
    float: none;
    margin: 0 0 40px;
  }

  .js-source-map-table {
    margin: 0;
  }
}*/


.js-source-map-upload{
  .dropzone{
    margin: 0 0 48px 0;
  }
}