// Settings / Integration Section 

.section.integrations {}


.integration-buttons {
  div {
    display: inline-block;
  }
  .button-48 {
    margin: 4px;
  }
}

// github integration form 
.github-integration {
  .typography {margin: 0 0 16px;}
  .button-48 {text-align: left!important;margin: 8px 0 0;}
}

// trello integration form 
.trello-integration {
  .typography {margin: 0 0 16px;}
}