// invite form that show's on non org owned applications

.application-invite {
  .raygun-form {margin: 0 0 64px;}
  .invite-user .button-48 {margin: 20px 0 0;}
}

.application-users {
  h4 {
    margin: 0 0 16px;
  }

  .table {
    border-top: 1px solid $color-grey-lightest;
  }
  .tc {
    padding: 16px;
    text-align: left;
    vertical-align: top;
  }
  .t2 {
    width:40%;
    a {
      display: block;
      margin: 0 0 4px;
    }
  }
  .t3 {
    width: 120px;
  }
  .button {
    display: block;
    width: 100%;
    text-align: center;
  }
}