.trial-expired-container {
  max-width: 960px;
  margin: 0 auto;
  padding: 40px;
}


.expired-header {
  padding: 40px 0;
  position: relative;
  h1 {
    line-height: 1.2;
    @include font-size(4);
    margin: 0 320px 0 0;
  }
  .button-wrapper {
    position: absolute;
    top: 40px;
    right: 0;
    max-width: 280px;
    a {
      display:block!important;
      text-align: center;
    }
  }
}


.expired-content {
  padding: 40px 0;
  @include clearfix;

  .typography {
    font-size: 120%;
    margin: 0 520px 0 0;
  }
}
.expired-graphic,
.deleted-graphic {
  max-width: 100%;
  width: 480px;
  height: 280px;
  float: right;
  background-size: 480px 280px;
  background-repeat: no-repeat;
  background-position: center;
}

.deleted-graphic {
  background-image: url(../content/images/raygun-graphic/deleted-raygun.png);
  @media (min--moz-device-pixel-ratio: 1.5),
  (-o-min-device-pixel-ratio: 3/2),
  (-webkit-min-device-pixel-ratio: 1.5),
  (min-device-pixel-ratio: 1.5),
  (min-resolution: 144dpi),
  (min-resolution: 1.5dppx) {
      background-image: url(../content/images/raygun-graphic/deleted-raygun@2x.png);
  }
}

.expired-graphic {
  height: 165px;
  background-image: url(../content/images/raygun-graphic/expired-raygun.png);
  @media (min--moz-device-pixel-ratio: 1.5),
  (-o-min-device-pixel-ratio: 3/2),
  (-webkit-min-device-pixel-ratio: 1.5),
  (min-device-pixel-ratio: 1.5),
  (min-resolution: 144dpi),
  (min-resolution: 1.5dppx) {
      background-image: url(../content/images/raygun-graphic/expired-raygun@2x.png);
  }
}


@media screen and (max-width:1120px) {
  
  .trial-expired-container {max-width: 640px;padding: 24px;}
  .expired-header {
    h1 {
      margin: 0;
      text-align: center;
      @include font-size(3.2);
    }
    .button-wrapper {
      position: static;
      margin: 24px auto 0;
    }
  }
  .expired-graphic {float:none;margin: 0 auto; height: 240px;}
  .expired-content {
    .typography {
      margin: 40px 0 0;
    }
  }

}


@media screen and (max-width:$screen-mobile) {
  .expired-header {
    h1 {
      margin: 0;
      @include font-size(2.4);
    }
    .button-wrapper {
      max-width: auto;
    }
  }
  .expired-graphic {height: 180px;}
}