// MySettings


.setting-profile {
  .setting-body {
    position: relative;
    padding: 0 0 0 80px;
    min-height: 64px;
    margin-bottom: 24px;
    @media screen and (max-width:$screen-mob) {
      padding: 0 0 0 80px;
    }
  }

  .avatar {
    position: absolute;
    left: 0;
    top: 0;
  }
}


.profile-summary {
  li {
    padding: 8px 0;
    border-bottom: 1px solid $background-color;
  }
  span.user-name {font-weight: bold;}
}


// plans sidebar
h4.sidebar-heading {
  padding: 16px;
  line-height: 16px;
  font-weight: bold;
}


.sidebar-plans {
  padding: 1px;
}


// My Plans Sidebar
.mysettings-plan {
  margin: 0 0 1px;
  position: relative;
  background: $white;
  &:last-child {
    margin: 0;
  }
}

.mysettings-plan.plan-exceeded {
  box-shadow: -1px 0 0 $color-ember;
}

.mysettings-plan.plan-single {
  &:after {
    display: none;
  }
}

$background-color-hover: #f5f7fa;

a.plan-wrapper {
  display: block;
  color: $text-1;
  padding: 16px;
  &:hover {
    background: $background-color-hover;
  }
  &:active {
    background: $background-color;
  }
}

.sidebar-plan-content {
  display: block;
  position: relative;
  padding: 0 0 0 80px;
}

.plan-wrapper {
  .avatar {
    position: absolute;
    left: 0;
    top: 0;
  }
}

.plan-heading {
  position: relative;
  margin: 0 0 12px;
  h3 {
    margin: 0 0 4px;
    width: 100%;
    padding: 0 88px 0 0;
    font-weight: bold;
    @extend wordbreak;
    @include font-size($fontsize-standard);
  }
  p {
    color: $color-grey-light;
    font-style: italic;
    @include font-size($fontsize-standard);
  }
}

.plan-size {
  position: absolute;
  color: $color-grey-light;
  font-weight: bold;
  top: 0;
  right: 0;
  width: 80px;
  text-align: right;
}

// warning
.plan-warning {
  padding: 16px;
}
.warning-wrapper {
  padding: 16px;
  background: $color-ember;
  position: relative;
  border-radius: 2px;
  p {
    color: $white;
    font-weight: bold;
    padding: 0 80px 0 0;
    line-height: 16px;
    @include font-size($fontsize-standard);
  }
  .button {
    position: absolute;
    right: 8px;
    top: 8px;
  }
}