// plan details section

.org-conversion {
  margin: 40px 0 0;
  h4 {margin: 0 0 16px;}
}

.details-content {
  h4 {
    margin: 0 0 12px;
  }
}

@media screen and (max-width:$screen-min) {
  .details-content {
    margin: 0;
  }
  .details-sidebar {
    margin: 40px 0 0;
    position: static;
  }
}


// plan detail lists
ul.plan-owners,
ul.plan-billing {
  li {
    padding: 8px 0;
    border-bottom: 1px solid $background-color;
  }
}

ul.plan-owners,
ul.plan-billing {
  margin: 0 0 40px;
}

// plan owners
ul.plan-owners {
  span.user-name {
    font-weight: bold;
  }
  span.user-email {
    margin: 0 0 0 16px;
    color: $color-grey;
  }
}

// billing details
ul.plan-billing {
  a.float-link {
    float: right;
  }
}

// plan summary 
.plan-summary {
  background:$white;
  margin: 0 1px;
}

.plan-summary.is-yellow {
  border: 2px solid $color-lightning;
}
.plan-summary.is-red {
  border: 2px solid $color-ember;
  margin: -1px;
}


.plan-head {
  padding: 16px;
  background: $color-grey-lightest;
}

.plan-body {
  padding: 24px;

  .progress-indicator {
    margin: 0 0 24px;
    &:last-child {
      margin: 0;
    }
  }
}

.plan-actions {
  padding: 16px;
  .button {
    text-align: left;
    display: block;
    margin: 0 0 8px;
    &:last-child {
      margin: 0;
    }
  }
}


.settings-toggle-block{
  padding: 16px;
  margin-bottom: 0;
}