/* Dropdown Style */

.dropdown-button {
  position: relative;
  display: inline-block;
  @extend noselect;
  &.button-block {
    display: block;
  }
  .button {
    display: block;
    text-align: left;
  }
}

// dropdown active
.dropdown-button.active,
.dropdown-button.is-active,
.dropdown-button--open {
  z-index: 3;
  .dropdown{
    display:block;
  }
}
.dropdown {
  display:none;
  position: absolute;
  left:0;
  top:100%;
  min-width: 100%;
  margin: -1px 0 0;
}

.dropdown-content {
  border:1px solid $color-border-transparent;
  background: #fff;
  box-shadow: $dropdown-shadow;
  -webkit-background-clip: padding;
  background-clip: padding-box;
  min-width:120px;
}

.dropdown--dropdown--dock-right,
.dropdown-button .dropdown.dropdown--dock-right {
  right:0;
  left:auto;
}


.dropdown-section {
  border-bottom: 1px solid $color-border-light;
  padding: 6px 0;
  &:last-child {
    border: none;
  }
}
.dropdown-option,
.dropdown-information {
  border-left: 3px solid transparent;
  display: block;
  padding: 10px 12px;
  line-height: 16px;
  color: $text-1;
  cursor: pointer;
  @extend nowrap;
}

.dropdown-option {
  &:hover,
  &:active,
  &.selected {
    border-color: $color-border-dark;
    background: $background-color;
    color: $text-1;
  }
}

.dropdown-information {
  font-style: italic;
  @include font-size(1.2);
}

// special types of dropdown options
.dropdown-option--red {
  &:active,&:hover {
    border-color: $color-ember;
    color: $text-1;
  }
}
.dropdown-option--green {
  &:active,
  &:hover {
    border-color: $color-forest;
    color: $text-1;
  }
}
.dropdown-option--blue {
  &:active,
  &:hover {
    border-color:$color-azure;
    color: $text-1;
  }
}
.dropdown-option--yellow {
  &:active,
  &:hover {
    border-color: $color-lightning;
    color: $text-1;
  }
}

.dropdown-option.disabled,
.dropdown-option.is-disabled {
    color:$color-grey-light;
    background:$background-color;
}

.dropdown-option.image-option {
  padding: 8px 12px;
  line-height: 24px;
  img {
    float: left;
    margin: 0 12px 0 0;
  }
}

@media screen and (max-width:$screen-tablet) {
  .dropdown-option,
  .dropdown-information {
    max-width: 100%;
  }
}

// dropdown-heading
.dropdown-heading {
    padding: 8px;
    background: $background-color;
    margin: -8px 0 8px;
    font-weight: normal;
}


.dropdown-option.has-before,
.dropdown-option.icon-before {
  padding-left: 40px;
  position: relative; 

  .icon-16,
  .avatar-16 {
    position: absolute;
    left: 12px;
    top: 10px;
  }
}

.dropdown-option.has-after {
  padding-left: 40px;
  position: relative; 

  .icon-16,.avatar-16 {
    &.text-black {
      color: $black;
    }
    color: $color-azure;
    position: absolute;
    left: 12px;
    top: 8px;
  }
  &:hover .icon-16 {
    color: $white;
  }
}

.dropdown-item {
  cursor: pointer;
  position: relative;
  padding: 8px 12px;
  display: block;
  max-width: 320px;
  &:hover {
    background: $color-grey-lightest;
  }
  &:active {
    background: $color-grey-lighter;
  }
}
.dropdown-item--before {
  padding-left: 40px;
}
.dropdown-item--after {
  padding-right: 40px;
}

.dropdown-item__before,
.dropdown-item__after {
  display: block;
  position: absolute;
  top: 8px;
}

.dropdown-item__text {
  display: block;
  line-height: 16px;
}

.dropdown-item__before {
  left: 12px;
}
.dropdown-item__after {
  right: 12px;
}


// checkbox version
.dropdown-item--checkbox {
  &:hover,
  &:active {
    .checkbox-icon {
      color: $text-1!important;
    }
  }
}