// Dropdown control

// container
.dropdown2 {
  display: inline-block;
  position: relative;
}
.dropdown2--block {
  display: block;
}

// button region
.dropdown2__button {}

// dropdown content
.dropdown2__content {
  overflow: hidden;
  display: none;
  margin-top: -1px;
  position: absolute;
  z-index: 1;
  top: 100%;
  left: 0;
  min-width: 100%;
  background-color: $white;
  border: 1px solid $color-border-transparent;
  -webkit-background-clip: padding;
  background-clip: padding-box;
  box-shadow: $dropdown-shadow;
  transform-origin: 50% 0;
  -webkit-transform-origin: 50% 0;

  -webkit-animation: dropdown-anim 80ms linear;
  animation: dropdown-anim 80ms linear;
  
  -webkit-animation-fill-mode: forwards;
  -moz-animation-fill-mode: forwards;
  -ms-animation-fill-mode: forwards;
  -o-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}

.dropdown2__content--open {
  display: block;
}

.dropdown2__content--dock-left {
  left: 0;
  right: auto;
  transform-origin: 0 0;
}

.dropdown2__content--dock-right {
  right: 0;
  left: auto;
  transform-origin: 100% 0;
}


// dropdown content
.dropdown2-section {
  padding: 6px 0;
  border-bottom: 1px solid $color-border-light;
  &:last-child {
    border: none;
  }
}

.dropdown2-section__title {
  @extend noselect;
  display: block;
  font-weight: bold;
  line-height: 16px;
  white-space: nowrap;
  padding: 4px 0;
  margin: 0 12px;
  @include font-size(1.4);
}

.dropdown2-section__message {
  color: $text-grey;
  font-style: italic;
  line-height: 1.2;
  @include font-size(1.2);
}

// dropdown option
.dropdown2-section__option {
  @include noselect;
  display: block;
  color: $text-1;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  cursor: pointer;
  min-width: 160px;
  max-width: 100%;
  line-height: 16px;
  padding: 10px 16px 10px 9px;
  border-left: 3px solid transparent;

  &:hover,
  &:active {
    color: $text-1;
    border-color: $color-border-dark;
    background: $color-grey-lighter;
  }
}


// dropdown option states
.dropdown2-section__option--blue {
  &:hover,
  &:active {
    border-color: $color-azure;
  }
}

.dropdown2-section__option--yellow {
  &:hover,
  &:active {
    border-color: $color-lightning;
  }
}

.dropdown2-section__option--red {
  &:hover,
  &:active {
    border-color: $color-ember;
  }
}

.dropdown2-section__option--green {
  &:hover,
  &:active {
    border-color: $color-forest;
  }
}

.dropdown2-section__option--orange {
  &:hover,
  &:active {
    border-color: $color-flame;
  }
}

.dropdown2-section__option--purple {
  &:hover,
  &:active {
    border-color: $color-byzantine;
  }
}



// Dropdown Plan
.dropdown2-section__plans {
  padding: 2px 8px 6px;
}

.dropdown2-plan {
  position: relative;
  display: block;
  cursor: pointer;
  margin-bottom: 4px;
  width: 240px;
  background: $color-grey-lighter;
  border-radius: 3px;
  padding: 10px 10px 10px 46px;
  border: 2px solid $color-grey-lighter;
  margin: 4px;
  &:hover {
    background: $color-grey-light;
    border-color: $color-grey-light;
  }
  &:active {
    background: $color-grey;
    border-color: $color-grey;
  }
  &:last-child {
    margin-bottom: 0;
  }
}

.dropdown2-plan--oversize {
  border-color: $color-ember!important;
}

.dropdown2-plan__icon {
  position: absolute;
  top: 10px;
  left: 10px;
}

.dropdown2-plan__name {
  @include font-size(1.4);
  color: $text-1;
  font-weight: bold;
  margin: 0 0 8px;
}

.dropdown2-plan__details {
  li {
    margin-top: 4px;
  }
}