.loading-region{
	min-height: 160px;
  position: relative;
	.loading-container{
    display: block;
	}
}


.loading-container{
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: $white;
  display: none;

	.loading-raygun{
    position: absolute;
    left: 50%;
    margin-left: -81px;
    top: 50%;
    margin-top: -63px;
	}
}