// Page banner (used for warnings / trialing 

.page-banner {
  padding: 8px 24px;
  position: relative;
  border-bottom: 1px solid $color-border;
}

// states
.page-banner--yellow {
  background-color: $color-lightning-highlight;
}
.page-banner--blue {
  background-color: $color-azure-highlight;
}
.page-banner--red {
  background-color: $color-ember-highlight;
}