.raygun-loading {
  opacity: 0;
  width: 180px;
  height: 160px;
  margin: 0 auto;
  position: relative;
  background-size: 180px 160px;
  background-image: url(/content/images/raygun-loading/raygun-loading.png);
  background-repeat: no-repeat;
  background-position: center;
  @include transition;
}

.raygun-is-loading {
  opacity: 1;
}

.raygun-spinner {
  width: 18px;
  height: 45px;
  margin: 0 auto;
  position: absolute;
  top: 49px;
  left: 75px;
  background-size: 18px 45px;
  background-image: url(/content/images/raygun-loading/raygun-spinner.png);
  background-repeat: no-repeat;
  background-position: center;
  -webkit-animation: rotation 2s infinite linear;
  -moz-animation: rotation 2s infinite linear;
  -o-animation: rotation 2s infinite linear;
  animation: rotation 2s infinite linear;
}

@media (min--moz-device-pixel-ratio: 1.5),
  (-o-min-device-pixel-ratio: 3/2),
  (-webkit-min-device-pixel-ratio: 1.5),
  (min-device-pixel-ratio: 1.5),
  (min-resolution: 144dpi),
  (min-resolution: 1.5dppx) {

  .raygun-loading {
    background-image: url(/content/images/raygun-loading/raygun-loading@2x.png);
  }
  .raygun-spinner {
    background-image: url(/content/images/raygun-loading/raygun-spinner@2x.png);
  }
}



.loading-raygun {
  margin: 0 auto;
  position: relative;
  display: block;
  width: 162px;
  height: 126px;
  background-image: url(/content/images/raygun-loading/loading-gun.png);
  background-repeat: no-repeat;
  background-size: 100%;
  &:before {
    content: '';
    display: block;
    width: 18px;
    height: 45px;
    margin: 0 auto;
    position: absolute;
    top: 32px;
    left: 68px;
    background-size: 20px 40px;
    background-image: url(/content/images/raygun-loading/loading-spinner.png);
    background-repeat: no-repeat;
    background-position: center;
    -webkit-animation: rotation 2s infinite linear;
    -moz-animation: rotation 2s infinite linear;
    -o-animation: rotation 2s infinite linear;
    animation: rotation 2s infinite linear;
  }
}

html.svg{
  .loading-raygun {
    background-image: url(/content/images/raygun-loading/loading-gun.svg);
    &:before {
      background-image: url(/content/images/raygun-loading/loading-spinner.svg);
    }
  }
}