// mask / unmask password

.masked-password {
  position: relative;
  padding: 0 40px 0 0;
  .unmasked-state {
    display: none;
  }
}

// unmask/mask state change
.masked-password {
  &.is-unmasked {
    .masked-state {
      display: none;
    }
    .unmasked-state {
      display:block;
    }
  }
}
  
.masked-button {
  position: absolute;
  top: 0;
  right: 0;
  width: 40px;
  .button {
    border-left: none;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }
}