    <article class="message-box is-blue">
      <header class="message-box-header has-icon">
        <span class="message-box-icon flat-icon icon-16 i-icon"></span>
        <h1 class="message-box-headline">Information message</h1>
      </header>
      <div class="message-box-body">
        <div class="message-box-text-container typography">
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec auctor tincidunt lacus nec viverra.
          </p>
        </div>
      </div>
    </article>


    <article class="message-box is-orange">
      <header class="message-box-header has-icon">
        <span class="message-box-icon flat-icon icon-16 warning-icon"></span>
        <h1 class="message-box-headline">Warning / Alert / Pay attention</h1>
      </header>
      <div class="message-box-body">
        <div class="message-box-text-container typography">
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec auctor tincidunt lacus nec viverra.
          </p>
        </div>
      </div>
    </article>


    <article class="message-box is-red">
      <header class="message-box-header has-icon">
        <span class="message-box-icon flat-icon icon-16 error-raw-icon"></span>
        <h1 class="message-box-headline">Error / Something went wrong</h1>
      </header>
      <div class="message-box-body">
        <div class="message-box-text-container typography">
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec auctor tincidunt lacus nec viverra.
          </p>
        </div>
      </div>
    </article>


    <article class="message-box is-green">
      <header class="message-box-header has-icon">
        <span class="message-box-icon flat-icon icon-16 save-icon"></span>
        <h1 class="message-box-headline">Success</h1>
      </header>
      <div class="message-box-body">
        <div class="message-box-text-container typography">
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec auctor tincidunt lacus nec viverra.
          </p>
        </div>
      </div>
    </article>


    <article class="message-box is-blue">
      <header class="message-box-header has-icon">
        <span class="message-box-icon flat-icon icon-16 wrench-icon"></span>
        <h1 class="message-box-headline">Highlight a feature / New feature</h1>
      </header>
      <div class="message-box-body">
        <div class="message-box-text-container typography">
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec auctor tincidunt lacus nec viverra.
          </p>
        </div>
      </div>
    </article>


    <article class="message-box is-light-blue">
      <header class="message-box-header has-icon">
        <span class="message-box-icon flat-icon icon-16 tshirt-icon"></span>
        <h1 class="message-box-headline">Empty content / No data</h1>
      </header>
      <div class="message-box-body">
        <div class="message-box-text-container typography">
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec auctor tincidunt lacus nec viverra.
          </p>
        </div>
      </div>
    </article>
