// resolved in version
// used on error instance and application overview
// - sits inside modal
.resolved-version-autocomplete-wrapper {
  position: relative;
  margin: 0 0 16px;
}

.resolved-version-autocomplete-list {
  position: absolute;
  z-index: 9;
  width: 100%;
  max-height: 400px;
  overflow-y: auto;
  background: $white;
  border: 1px solid $color-border-transparent;

  li {
    padding: 4px 8px;
    line-height: 1.4;
    color: $text-1;
    list-style-type: none;
    &:hover {
      background: $background-color;
      cursor: pointer;
      color: $color-azure;
    }
  }
  
  &.is-hidden {display:none;}
  &.is-active {display:block;}
}