// Form
//
// Styleguide form

// Validation
//
// If used in a form add the class .form-validation together with the .validation-summary-errors to give it propper width
//
// Markup:
// <div class="validation-summary-errors">
//   <ul>
//     <li>Validation feedback one</li>
//     <li>Validation feedback two</li>
//     <li>Validation feedback three</li>
//   </ul>
// </div>
//
// Styleguide form.validation


.validation-summary-errors {
  margin: 0 0 24px;
  li {
    background: $background-color;
    color: $color-ember;
    padding: 8px;
    border-radius: 3px;
  }
}

.field-validation-error {
  clear: both;
  display: block;
  margin: 16px 0;
  padding: 8px;
  border-radius: 3px;
  border: 1px solid $color-grey-lighter;
  background: $white;
  color: $color-ember;
}