// checkbox control
.checkbox-control {
  padding: 0 0 0 24px;
  cursor: pointer;
  display: block;
  position: relative;
  line-height: 16px;

  @include noselect;

  .solo-checkbox {
    position: absolute;
    left: 0;
    top: 0;
  }

  &:hover .checkbox-icon {
    color: $text-1 !important;
  }

  &.is-disabled{
    opacity: 0.5;
    pointer-events: none;
  }
}

// checkbox control
.solo-checkbox {
  width: 16px;
  height: 16px;
  display: block;
  cursor: pointer;
  @include noselect;

  &:hover .checkbox-icon {
    color: $text-1 !important;
  }
  input[type=checkbox] {
    display: none;
    & ~ .checkbox-icon {
      color: $color-grey-darker;
    }
    &:checked ~ .checkbox-icon {
      color: $text-1;
    }
    & ~ .checkbox-icon:before {
      content: '\e648';
    }
    &:checked ~ .checkbox-icon:before {
      content: '\e649';
    }
  }
}

.disabled-checkbox {
  display: block;
  width: 16px;
  height: 16px;
  background: $color-grey;
  border-radius: 2px;
}

// Checkbox control: grey modifier
// Used on Integrations forms
.grey-checkbox-control {
  padding: 0 0 0 38px;
  background-color: $color-grey-light;
  border-radius: 2px;
  overflow: hidden;

  // Shared with .checkbox-control
  // TODO: Phase out checkbox-control and move towards BEM
  cursor: pointer;
  display: block;
  position: relative;
  line-height: 16px;

  @include noselect;

  &:hover .checkbox-icon {
    color: $text-1 !important;
  }

  &.is-disabled{
    opacity: 0.5;
    pointer-events: none;
  }
}

.grey-checkbox-control__label-text {
  display: block;
  padding: 10px;
  background-color: $color-grey-lighter;
}

.grey-checkbox-control__checkbox {
  display: block;
  padding: 10px;
  position: absolute;
  top: 0;
  left: 0;
}