// Button
//
// Some generic button info use with the button and size class
//
// .button             - Requires --size and --color properties
// :hover             - Subtle hover highlight.
//
// Markup:
// <div class="button button-36 {{modifier_class}} button-green">Div</div>
// <a class="button button-36 {{modifier_class}} button-green">Link</a>
// <button class="button button-36 {{modifier_class}} button-green">Button</button>
// <input type="submit" class="button button-36 {{modifier_class}} button-green">Input[submit]</input>
//
// Styleguide button





// Button Creation
.button {
  @include noSelect;
  @include font-size(1.4);
  font-weight: bold;
  font-family: $font-family;
  cursor: pointer;
  display: inline-block;
  text-align: center;
  max-width: 100%;
  line-height: 16px;
  border-radius: 3px;
  border: 1px solid transparent;
  outline: none;
  max-width: 100%;
  text-decoration: none !important;
  @extend nowrap;

  &:hover {
    box-shadow: 0 1px 3px rgba(black,0.15);
  }

  &:active {
    box-shadow: none;
  }
}



.button-before,
.button-after {
  position: relative;

  .icon-before,
  .icon-after {
    position: absolute;
  }
}


// Button sizes
//
// .button-24       - Special cases or deprecated
// .button-32       - Special cases or deprecated
// .button-36       - Standard size
// .button-40       - Bigger size
//
// Markup:
// <div class="button {{modifier_class}} button-green">Button</div>
//
// Styleguide button.1


.button-16 { // Todo: pull out
  height: 16px;
  min-width: 16px;
}

.button-24 {
  height: 24px;
  min-width: 24px;
  padding: 3px 8px;
  @include font-size(1.2);

  &.button-before {
    padding-left: 23px;
  }

  &.button-after {
    padding-right: 23px;
  }

  .icon-before.icon-16 {
    top: 3px;
    left: 3px;
  }

  .icon-after.icon-16 {
    top: 3px;
    right: 7px;
  }
}

.button-32 {
  height: 32px;
  min-width: 32px;
  padding: 7px 11px;
  @include font-size(1.2);

  &.button-before {
    padding-left: 34px;
  }

  &.button-after {
    padding-right: 34px;
  }

  .icon-before.icon-16 {
    top: 7px;
    left: 11px;
  }

  .icon-after.icon-16 {
    top: 7px;
    right: 11px;
  }
}

.button-36 {
  height: 36px;
  min-width: 36px;
  padding: 9px 11px;
  @include font-size($fontsize-standard);

  &.button-before {
    padding-left: 39px;
  }

  &.button-after {
    padding-right: 39px;
  }

  .icon-before.icon-16,
  .icon-before.avatar-16 {
    top: 9px;
    left: 11px;
  }

  .icon-after.icon-16,
  .icon-after.avatar-16 {
    top: 9px;
    right: 11px;
  }

  .icon-before.avatar-24 {
    top: 5px;
    left: 7px;
  }

  .icon-after.avatar-24 {
    top: 5px;
    right: 7px;
  }
}

.button-40 {
  height: 40px;
  min-width: 40px;
  padding: 11px;
  @include font-size($fontsize-standard);

  &.button-before {
    padding-left: 39px;
  }

  &.button-after {
    padding-right: 39px;
  }

  .icon-before.icon-16,
  .icon-before.avatar-16 {
    top: 11px;
    left: 11px;
  }

  .icon-after.icon-16,
  .icon-after.avatar-16 {
    top: 11px;
    right: 11px;
  }

  .icon-before.avatar-24 {
    top: 7px;
    left: 7px;
  }

  .icon-after.avatar-24 {
    top: 7px;
    right: 7px;
  }
}

.button-48 { // Todo: pull out
  height: 48px;
  min-width: 48px;
  padding: 15px;
  @include font-size($fontsize-standard);

  &.button-before {
    padding-left: 47px;
  }

  &.button-after {
    padding-right: 47px;
  }

  .icon-before.icon-16 {
    left: 15px;
    top: 15px;
  }

  .icon-after.icon-16 {
    right: 15px;
    top: 15px;
  }

  .icon-before.avatar-24 {
    left: 11px;
    top: 11px;
  }

  .icon-after.avatar-24 {
    right: 11px;
    top: 11px;
  }
}


// Button block
//
// .button-block - The button will expand to it's parents width
//
// Markup:
// <div class="button button-36 {{modifier_class}} button-green">Button</div>
//
// Styleguide button.5

.button-block {
  display: block;
  width: 100%;
}


// Center icon
//
// Centering a solo icon in a button.
// Combine with button-block class
// It's for icon only (no text).
//
// .icon-center  - Append to the child-icon
//
// Markup:
// <button class="button button-36 button-green button-block">
//   <div class="flat-icon lock-icon icon-16 {{modifier_class}}"></div>
// </button>
//
// Styleguide 4.4

.button {
  .icon-16.icon-center {
    display: block;
    margin: 0 auto;
  }
}
