// heading for wizard sections
.setup-header {
  margin: 0 0 24px;

  h1 {
    font-weight: bold;
    @include font-size(2.4);
  }
}


// wizard container
.wizard-container {
  padding: 40px;
  background: $white;
  border: 1px solid $color-border;
  border-bottom: none;
  position: relative;
  z-index: 1;

  &:last-child {
    border-bottom: 1px solid $color-border;
  }

  @media screen and (max-width:$screen-mob) {
    padding: 16px;
  }
  .form-group {
    max-width: 520px;
  }
}


// next step section
.wizard-next {
  border: 1px solid $color-border;
  background: $color-grey-lightest;
  padding: 20px;
  text-align: center;

  .button {
    display: block;
    max-width: 180px;
    margin: 0 auto;

    @media screen and (max-width:$screen-mob) {
      width: 100%;
    }
  }
}

// docs / contact links
.wizard-external {
  margin: 40px 0 0;

  h4 {
    margin: 0 0 12px;
  }
}

.setup-documentation,
.setup-contact {
  display: block;
  position: relative;
  border-radius: 4px;
  overflow: hidden;
  font-weight: bold;
  color: $white;
  background-color: $color-stealth;
  background-image: url('/Content/Images/setup-wizard/setup-background.png');
  margin: 8px 0 0;
  background-size: 960px 132px;

  span {
    line-height: 16px;
    display: block;
    position: relative;
    z-index: 1;
    padding: 24px;
    width: 240px;
    background: $background-overlay;
    color: $white;
  }

  &:before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: $background-overlay;
  }

  &:hover:before {
    background: $background-overlay;
  }

  &:active:before {
    background: $background-overlay;
  }
}

.setup-documentation {
  background-position: left top;
}

.setup-contact {
  background-position: 0 64px;
}

html.svg {
  .setup-documentation,
  .setup-contact {
    background-image: url('/Content/Images/setup-wizard/setup-background.svg');
  }
}


// setup sidekick
.setup-sidekick {
  margin: 40px 0 0;
  padding: 40px 0 0;
  border-top: 1px solid $color-border-light;

  h4,
  .typography {
    margin: 0 0 12px;
  }
}

// dashboard button
.wizard-dashboard-button {
  .button {
    max-width: 200px;
  }
}

.wizard-options {
  margin-top: 32px!important;
}