
// modal shared elements 
.modal-header {
  padding: 16px;
  border-bottom: 1px solid $color-grey-lightest;
  @media screen and ( max-width: $screen-mobile) {
    padding: 10px;
  }
}

// all content must be 40px tall 
.modal-header {
  h4 {
    line-height: 24px;
    padding: 8px 0;
    margin: 0 0 0 16px;
    @include font-size($fontsize-standard);
  }
  @media screen and ( max-width: $screen-mobile) {
    h4 {
      margin: 0 0 0 10px;
    }
  }
}

.modal-breadcrumb {
  @extend nowrap;
  @include font-size($fontsize-standard);
  width: 100%;
  font-weight: bold;
  line-height: 20px;
  height: 40px;
  padding: 10px 10px 10px 0;
  margin: 0 0 0 16px;
  a {
    position: relative;
    cursor: pointer;
    padding: 0 24px 0 0;
    &:before {
      @extend icon;
      content: '\e5ab';
      position: absolute;
      top: 2px;
      right: 4px;
    }
  }
  @media screen and ( max-width: $screen-mobile) {
    margin: 0 0 0 10px;
  }
}