// modal form

.modal-plugin-alert {
  margin: 40px 0 0;
  padding: 20px;
  border-radius: 2px;
  color: $text-1;
  label.modal-button {
    margin: 0 0 16px;
  }
}

// what
.modal-save,
label.modal-button {
  display: block;
  button {
    display: inline-block;
  }
  &.modal-secondary-button {
    margin: 40px 0 16px;
  }
}


// form stuff
form.modal-form {
  padding: 40px;
  @media screen and ( max-width: $screen-mobile) {
    padding: 20px;
  }
}

.modal-form-footer {
  margin: 24px 0 0;
  .button {
    float: left;
    display: block;
    margin: 0 8px 0 0;
    &:last-child {
      margin:0;
    }
  }
}

label.modal-input, label.modal-textarea {
  input, textarea {
    padding: 9px;
    width: 100%;
    display: block;
    border: 1px solid $color-grey-lighter;
    &:hover {border-color: $color-grey-light;}
    &:focus {border-color: $color-azure;}
  }
}

label.modal-checkbox {
  display: block;
  position: relative;
  padding: 0 0 0 40px;
  background: $color-grey-lighter;
  border-radius: 2px;
  overflow: hidden;
  span {
    display: block;
    background: $color-grey-lightest;
    line-height: 20px;
    padding: 10px;
  }
  @include font-size($fontsize-standard);
  input[type=checkbox] {
    position: absolute;
    left: 12px;
    top: 12px;
    height: 16px;
    width: 16px;
    padding: 1px;
  }
}

label.modal-select,
label.modal-select-loading,
label.modal-textarea,
label.modal-input {
  span {
    margin: 0 0 8px;
  }
}

.modal-form-unbounded {
  label.modal-textarea,
  label.modal-select,
  label.modal-select-loading,
  label.modal-input,
  label.modal-checkbox {
    max-width: none;
  }
}

label.modal-textarea,
label.modal-select,
label.modal-select-loading,
label.modal-input,
label.modal-checkbox {
  display: block;
  margin: 0 0 20px;
  max-width: 400px;
  span {
    display: block;
    @include font-size($fontsize-standard);
  }
}

// select 
label.modal-select,
label.modal-select-loading {
  select {
    width: 100%;
    padding: 9px;
    line-height: 16px;
    border: 1px solid $color-grey-lighter;
    &:hover {border-color: $color-grey-light;}
    &:focus {border-color: $color-azure;}
  }
}

label.modal-select-loading {
  padding: 0 24px 0 0;
  position: relative;
  &:after {
    @extend icon;
    position: absolute;
    bottom: 12px;
    right: 0;
    content: '\e50d';
    color: transparent;
    display: block;
    height: 16px;
    width: 16px;
    border-radius: 2px;
    @include transition(color 80ms linear);
  }
  &.select-loading:after {
    color: $color-grey-light;
    -webkit-animation: loading-rotation 2s infinite linear;
    -moz-animation: loading-rotation 2s infinite linear;
    -o-animation: loading-rotation 2s infinite linear;
    animation: loading-rotation 2s infinite linear;
  }
}

@-webkit-keyframes loading-rotation {
  0%    {-webkit-transform: rotate(0deg);}
  100%  {-webkit-transform: rotate(359deg);}
}
@-moz-keyframes loading-rotation {
  0%    {-moz-transform: rotate(0deg);}
  100%  {-moz-transform: rotate(359deg);}
}
@-o-keyframes loading-rotation {
  0%    {-o-transform: rotate(0deg);}
  100%  {-o-transform: rotate(359deg);}
}
@keyframes loading-rotation {
  0%    {transform: rotate(0deg);}
  100%  {transform: rotate(359deg);}
}

.modal-share {
  margin: 0 0 40px;
  .button {
    margin: 12px 0 0;
  }
}
