// 404 / 500 error page styles

#errorLayout {height:auto; min-height: 100%;background:$background-color;padding: 0 0 50px;}
#errorMessage {
  padding: 50px 0 0;
  background: $color-stealth;
}

#objectContainer {
  width: 800px;
  margin: 0 auto 100px;
  height: 350px;
  position: relative;
}

#boom,#glow {
  background-size: auto;
  position: absolute;
  height: 380px;
  width: 380px;
  opacity: 1;
  right: 0;
  top: 40px;
  &#glow {background: url(../content/images/errorPage/explosionOverlay.png) no-repeat center;background-size:cover}
  &#boom {background: url(../content/images/errorPage/explosion.png) no-repeat center;background-size:cover}
  @include transition(all 50ms linear);
}
#runningRobbie,#robbieOverlay {
  position: absolute;
  height: 450px;
  width: 270px;
  left: 240px;
  top: 100px;
  &#runningRobbie {background: url(../content/images/errorPage/runningRobbie.png) no-repeat center;background-size:cover}
  &#robbieOverlay {background: url(../content/images/errorPage/robbieOverlay.png) no-repeat center;background-size:cover}
}

#errorContent {
  margin: 0 auto 40px;
  width: 800px;
  @include clearfix();
  text-align: center;
  h1 {font-size: 104px;font-weight:bold;float:right;margin: 0;}
  h2,h3 {float:right;clear:both; margin: 40px 0;}
  p {
    clear:both;
    border-top: 1px solid $color-grey-lightest;
    line-height: 32px;
    padding: 40px 0;
    font-size: 24px;
  }
}

#copyright {
  position: absolute;
  font-size: 14px;
  bottom: 0;
  display: block;
  width: 100%;
  text-align: center;
  margin: 0 0 20px;
}

// glow animation 
#glow,#robbieOverlay {
  animation: raygun 0.5s linear infinite alternate;
  -moz-animation: raygun 0.5s linear infinite alternate;
  -webkit-animation: raygun 0.5s linear infinite alternate;
  -o-animation: raygun 0.5s linear infinite alternate;
}


@-webkit-keyframes raygun {
	0%    {opacity: 1;}
  33%   {opacity: 0.2;}
	66%   {opacity: 0.8;}
  100%  {opacity: 0.4;}
}
@-moz-keyframes raygun {
	0%    {opacity: 1;}
  33%   {opacity: 0.2;}
	66%   {opacity: 0.8;}
  100%  {opacity: 0.4;}
}
@-o-keyframes raygun {
	0%    {opacity: 1;}
  33%   {opacity: 0.2;}
	66%   {opacity: 0.8;}
  100%  {opacity: 0.4;}
}
@keyframes raygun {
	0%    {opacity: 1;}
  33%   {opacity: 0.2;}
	66%   {opacity: 0.8;}
  100%  {opacity: 0.4;}
}
