

// OLD ACTIVITY DESIGN
// global dashboard activity

.gd-activity {

  .toggle-visible-button {
    float: right;
  }

  @media screen and (max-width: $screen-min){
    margin-left: 20px;
  }
}

.gd-activity-header{
  overflow: hidden;
  margin-bottom: 24px;

  border-bottom: 1px solid $color-border;

  h2{
    margin-top: 3px;
    padding-bottom: 6px;
    float: left;
  }
  .button{
    float: right;
  }

  p {
    float: right;
    color: $text-grey;
    margin-top: 14px;
  }
}

#loadMoreActivities {
  font-weight: bold;

  span {
    padding: 11px;
  }
}