// dashboard breakpoints
$dashboard-max: 1800px; // LHS float left, RHS margin
$dashboard-med: 1400px; // RHS pos abs
$dashboard-min: 1120px; // Stacked
$dashboard-mob: 640px; // Mobile


.dashboard-titlerow {
  height: auto;
  display: block;
  min-height: 40px;
  margin: 0 0 16px;
  h3 {
    float: left;
    line-height: 40px;
  }


  @media screen and (max-width: $screen-mob) {

    h3 {
      width: 100%;
      margin-bottom: 16px;
    }

    .dashboard-controls {
      float: none;
      display: block;
      height: auto;
    }

    .button {
      float: right;
      width: 25%;
      margin: 0px;
    }

    .dropdown-button {
      width: 75%;
      padding-right: 16px;

      .button {
        width: 100%;
      }
    }

    &.is-aggregated {
      margin-bottom: 16px;

      .dropdown-button {
        width: 100%;
        padding-right: 0;
      }
    }
  }
}

.dashboard-loadmore {
  text-align: right;
  padding: 16px;
  border-top: 1px solid $color-border;
  display: none;
}

.dashboard-instance {
  display: block;
  padding: 16px 40px 16px 0;
  cursor: pointer;
  color: $color-azure;

  &:hover {
    background: $background-color;
    cursor: pointer;
  }
}

.dashboard-instance-users,
.dashboard-instance-count {
  display: block;
}

.dashboard-instance-users {
  color: $text-grey;
  padding: 0 120px 0 0;
}

.dashboard-instance-count {
  bottom: -3px;
  right: 0;
  padding: 4px 8px 3px;
  background: $color-ember;
  border-radius: 3px;
  text-align: right;
  color: $white;
}

.dashboard-instance-users,
.dashboard-instance-count {
  @include font-size(1.2);
}

// Controls
.dashboard-controls {
  float: right;
  height: 40px;
  border-top: none;
}

// Chart

.chart-grouped-loading {
  position: relative;
  height: 210px;
  padding-top: 40px;
  background: white;
}



// RHS - Visual Data

// chart --------------------
.dashboard-chart {
  margin-top: -5px;

  .chart-heading {
    height: 48px;
    margin: 0 0 40px;
  }

  .chart {
    height: 220px;
    background: $color-grey-lightest;
    margin: 0 0 40px;
    border: 1px solid $color-border;
    position: relative;
  }

  h2 {
    margin: 0 0 24px;
  }
}


.dashboard-chart {
  border: 1px solid $color-border;
  margin-bottom: 24px;
}


// Settings

#application-list-dropdown {
  float: left;
}


.dashboard-list {
  padding: 20px 20px 0px 20px;

  h2 {
    line-height: 40px;
  }
}

.dashboard-visual {
  padding: 20px 20px 0 0;
  background: $background-color;
  min-height: 100%;
  max-width: 960px;
}


// responsive layout

@media screen and (max-width:$dashboard-mob) {
  .dashboard-titlerow {
    margin-bottom: 16px;
  }
}


@media screen and (max-width:$dashboard-min) {

  .dashboard-visual {
    max-width: none;
  }
}

@media screen and (min-width:$dashboard-min) {
  .dashboard-visual {
    position: absolute;
    right: 0;
    top: 0;
    width: 400px;
  }

  .dashboard-list {
    margin: 0 400px 0 0;
    min-height: 100%;
    border-bottom: none;
  }

}


@media screen and (min-width:$dashboard-med) {
  .dashboard-visual {
    width: 550px;
  }

  .dashboard-list {
    margin: 0 550px 0 0;
  }
}

@media screen and (min-width:$dashboard-max) {
  .dashboard-visual {
    width: 800px;
  }

  .dashboard-list {
    margin: 0 800px 0 0;
  }
}


// TABLE
.g-dash-table,
.g-dash-sub-table {
  display: table;
  width: 100%;
  min-height: 90px;
  background-color: $white;
  table-layout: fixed;
}

.g-dash-table {
  margin-top: 8px;
  border: 1px solid $color-border;
}

// TABLE ROWS

.g-dash-row {
  background: $white;
  border-top: 1px solid $color-border;
  border-bottom: 1px solid $color-border;

  &:first-child {
    border-top: none;
  }

  &:last-child {
    border-bottom: none;
  }
}

// TABLE CELLS

.g-dash-cell {
  display: table-cell;
  vertical-align: middle;
  padding: 16px;
  overflow: hidden;

  &:first-child {
  }

  &:last-child {
    border-right: none;
  }
}


.g-dash-cell-avatar {
  width: 72px;
}

.g-dash-cell-application-name {
  min-width: 200px;
  white-space: normal;
}

.g-dash-cell-data {
  width: 132px;
  text-align: center;
  padding-left: 4px;
  padding-right: 4px;
}

.g-dash-cell-expand {
  width: 64px;
  min-width: 50px;
  padding: 0px;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.g-dash-cell-goto-application {
  width: 115px;
}


//EXPAND CONTAINER

.g-dash-expand-container {
  border: 1px solid $color-border;
  border-top: none;
  display: none;

  &.is-expanded {
    display: block;
  }
}


// SUB TABLE

.g-dash-sub-table {
  margin-top: -1px;
  display: table;
  position: relative;
}

.g-dash-sub-row {
  display: table-row;
}

.g-dash-sub-cell {
  display: table-cell;
  padding: 20px;
  vertical-align: top;
  border-top: 1px solid $color-border-light;
}

.g-dash-sub-cell-check {
  width: 50px;
}

.g-dash-sub-cell-error-message {
  width: auto;
}

.g-dash-sub-cell-data {
  width: 170px;
  text-align: left;
}

.g-dash-load-more {
  display: block;
  text-align: center;
  background-color: white;
  display: none;
}



// MOLEKYLS
.g-dash-time-container {
  margin-bottom: 8px;
}

.g-dash-time-icon {
  vertical-align: middle;
  margin-top: 1px;
  display: inline-block;
  color: $text-grey;
}

.g-dash-time {
  font-weight: bold;
  vertical-align: middle;
  color: $text-grey;
}


// Aggregated Table
.g-dash-aggregated-table {
  display: block;
  margin-bottom: 8px;
  border: 1px solid $color-border;
  width: 100%;
  position: relative;
  background-color: $white;
}

.g-dash-aggregated-cell {
  display: inline-block;
  padding: 16px;
  vertical-align: top;
  position: absolute;
  top: 0;
}

.g-dash-aggregated-cell-check {
  width: 50px;
  left: 0;
}

.g-dash-aggregated-cell-message {
  left: 0px;
  width: 100%;
  padding: 16px 170px 0 60px;
}

.g-dash-aggregated-cell-data {
  width: 200px;
  text-align: right;
  right: 0;
}




// ATOMS

.g-dash-application-name {
  //font-weight: bold;
  @extend nowrap;
  @include font-size($fontsize-standard);
  display: block;
  padding: 4px 0;
}

.g-dash-application-users {
}

.g-dash-application-count {
}

.g-dash-application-count-value,
.g-dash-application-count-text {
  display: block;
}

.g-dash-application-count-value {
  margin-bottom: 6px;
  @extend nowrap;
  @include font-size(2.2);
  text-align: center;

  &.is-placeholder {
    visibility: hidden;
  }
}

.g-dash-application-count-text {
  text-align: center;
  color: $text-grey;
  @include font-size($fontsize-standard);
}

.g-dash-go-to-application-button {
  width: 100%;
  display: block;
}

.g-dash-message {
  display: block;
  @extend nowrap;
}

.g-dash-impacted-users {
  color: $text-grey;
  margin-top: 12px;
}

.g-dash-error-count {
  color: $text-red;
  font-weight: bold;
}

.g-dash-expand-icon {
  display: block;
  margin: 0 auto;
  border-radius: 3px;
  border: 2px solid transparent;
  height: 32px;
  padding: 7px 7px;
  width: 33px;

  &:hover {
    cursor: pointer;
    background-color: $color-azure;
    color: $white;
  }

  &.is-expanded:before {
    content: '\e5a4';
  }
}


.g-dash-avatar {
  display: block;
  margin: 0 auto;
  width: 40px;
  height: 40px;
  border-radius: 3px;
}



// ATOMS AGGRIGATED
.g-dash-aggregated-message,
.g-dash-aggregated-application-name,
.g-dash-aggregated-impacted-users {
  margin-bottom: 8px;
}

.g-dash-aggregated-message {
  white-space: nowrap;
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 100%;
  padding-bottom: 2px;
}

.g-dash-aggregated-application-name {
  color: $text-1;
}

.g-dash-aggregated-impacted-users {
  color: $text-grey;
}

.g-dash-aggregated-time-container {
  margin-bottom: 8px;
}



@media screen and (max-width: $screen-med) {
  .g-dash-table {
    display: block;
    overflow: hidden;
    position: relative;
  }

  .g-dash-cell {
    display: block;
    float: left;
    border: none;
  }

  .g-dash-cell-data {
    width: 50%;
    background-color: $background-color;
    padding: 15px 4px 0;
  }


  .g-dash-cell-goto-application {
    width: 84px;
  }

  .g-dash-cell-application-name {
    position: absolute;
    padding: 16px 157px 5px 72px;
    min-width: initial;
    width: 100%;
  }

  .g-dash-cell-application-name + .g-dash-cell-data {
    clear: left;
  }

  .g-dash-application-name {
    line-height: 40px;
    overflow: hidden;
    min-width: initial;
    padding: 0;
  }

  .g-dash-cell-goto-application,
  .g-dash-cell-expand {
    position: absolute;
    top: 16px;
    padding: 0;
  }

  .g-dash-cell-goto-application {
    right: 16px;
  }

  .g-dash-go-to-application-button {
    margin-top: 5px;
  }

  .g-dash-cell-placeholder {
    display: none;
  }

  .g-dash-cell-no-error {
    width: 100%;
    text-align: center;

    @media screen and (max-width: $screen-med){
      padding-bottom: 10px;
    }
  }

  .g-dash-cell-expand {
    right: 93px;
  }

  .g-dash-expand-icon {
    border-color: $color-azure;
    margin-top: 5px;
  }


  .g-dash-sub-row {
    display: block;
    position: relative;
    border-bottom: 1px solid $background-color;

    &:nth-child(even) {
      background-color: $background-color;
    }
  }

  .g-dash-sub-cell {
    border: none;
  }

  .g-dash-sub-cell-message {
    word-break: break-all;
    padding: 0 16px 16px;
    display: block;
  }

  .g-dash-sub-cell-data {
    position: absolute;
    top: 0px;
    right: 0px;
  }

  .g-dash-time-container {
    float: left;
  }

  .g-dash-error-count {
    float: right;
  }

  .g-dash-impacted-users {
    position: absolute;
    top: 20px;
    left: 75px;
    margin-top: 0px;
  }

  .g-dash-cell-data:not(.g-dash-cell-no-error) {
    height: 70px;
  }
}



@media screen and (max-width: $screen-mob) {


  .g-dash-cell-avatar {
    visibility: hidden;
    width: 0;
  }

  .g-dash-cell-application-name {
    padding-left: 16px;
  }

  .g-dash-aggregated-cell-message {
    padding: 44px 16px 0px;
  }

  .g-dash-aggregated-message {
    white-space: normal;
  }
}





// NO CONTENT
.g-dash-message-box {
  padding: 200px 24px 24px 24px;
  min-height: 300px;
  text-align: center;

  &.is-blue {
    background-color: $color-azure;
    color: $white;
  }

  &.is-grey {
    background-color: rgba(215, 224, 233, 0.3);
    border: 1px solid $color-grey-lightest;
  }

  &.give-internal-image {
    background-repeat: no-repeat;
    background-position: center 30px;
  }

  &.give-internal-image-1 {
    background-image: url(/Content/Images/robbie/whoops_w_100.png);
  }

  &.give-internal-image-2 {
    background-image: url(/Content/Images/robbie/whoops_2_w_100.png);
  }

  &.no-image {
    padding: 24px;
    min-height: 0;
  }
}


.g-dash-message-box-content {
}

.g-dash-message-box-headline {
  font-weight: bold;
  margin-bottom: 16px;
}

// GRAPH



#unifiedDashboard svg {
  background-color: $white;
  overflow: visible;
  border: 1px solid $color-grey-lightest;

  .background {
    fill: $white;
  }

  .outer-border {
    display: none;
  }


  .left-axis-border,
  .bottom-axis-border {
    display: none;
  }

  .y.axis line{
    stroke: $background-color;
  }

  @media screen and (max-width: $screen-min) {
    .x.axis g:nth-child(2n) {
      display: none;
    }
  }
}


.analytics-chart {
  position: relative;

  .empty:before {
    background-color: $background-color;
    display: block;
    content: " ";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url('/Content/Images/global-dashboard/chart-empty.png');
    background-repeat: no-repeat;
    background-position: center 60px;
    border: 1px solid $color-grey-lightest;
  }

  .empty:after {
    display: block;
    content: "No errors in this time range! Here we will show the error instance count (for all statuses) over time for your top 5 apps";
    position: absolute;
    top: 160px;
    left: 0;
    right: 0;
    text-align: center;
    color: #777;
  }
}



// Dasboard pop up fix.

.global-dashboard-content {
  bottom: 0;
  height: auto;
  position: relative;
  padding-bottom: 64px;
  min-height: 100%;
  .modal-overlay {
    position: absolute;
    bottom: 0;
  }
}

.global-dashboard__screen-spinner{
    position: fixed;
    z-index: 100;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.3);
    z-index: 100;

    &:before {
      content: ' ';
      display: block;
      background-position: center center;
      margin-top: -130px;
      margin-left: -130px;
      width: 260px;
      height: 260px;
      top: 50%;
      left: 50%;
      border-radius: 50%;
      position: fixed;
      background-color: #f1f1f1;
      border: 1px solid #d2d2d2;
    }

    .loading-raygun{
      position: fixed;
      bottom: 0;
      left: 50%;
      top: 50%;
      margin: -56px -79px;
    }
}



