// application select modal

.gdash-modal-heading {
  h4 {
    margin: 0 0 8px;
  }
}


.gdash-modal-body {
  padding: 24px 0;
  h4 {
    margin: 0 0 12px;
    padding: 0 24px;
  }
}


ul.settings-list {
  max-height: 320px;
  overflow-y: auto;
  padding: 0 24px;
  label {
    padding: 12px 12px 12px 40px;
    display: block;
    position: relative;
    &:hover {
      background: $background-color;
    }
    line-height: 16px;
  }
  input[type=checkbox] {
    position: absolute;
    width: 16px;
    height: 16px;
    top: 12px;
    left: 12px;
  }
}

// modal saving
.modal-toast {
  border-radius: 3px;
  height: 40px;
  background: $color-ember;
  text-align: center;
  padding: 12px 0;
}

.modal-toast-content {
  display: inline-block;
  position: relative;
  
  &.has-icon {
    padding: 0 0 0 28px;
  }
  
  p {
    line-height: 16px;
    font-weight: bold;
  }
  .icon-16 {
    position: absolute;
    left: 0;
    top: 0;
  }
}

.modal-toast {
  &.is-saving {
    background: $background-color;
  }
  &.is-saved {
    background: $color-forest;
    color: $white;
  }
}