// Module-header
//
// Use to combine components and titles in module headers
//
// Styleguide module.header




// Module-header title
//
// Just title
//
// Markup:
// <div class="module module--white">
//   <header class="module__header module__header--grey">
//     <div class="module-header-title">
//         <h4 class="heading-size-5">Header goes here...</h4>
//     </div>
//   </header>
// </div>
//
// Styleguide module.header.1

.module-header-title {
  line-height: 20px;
}


// Module-header checkbox
//
// Title and Checkbox
//
// Markup:
// <div class="module module--white">
//   <header class="module__header module__header--grey">
//     <div class="module-header-checkbox">
//       <div class="module-header-checkbox__title">
//         <h4 class="heading-size-5">Header goes here...</h4>
//       </div>
//       <div class="module-header-checkbox__checkbox">
//         <label class="checkbox-control">
//           <span class="solo-checkbox">
//             <input type="checkbox" class="js-anonusers" checked="">
//             <span class="custom-icon icon-16 checkbox-icon"></span>
//           </span>
//           Something to tick
//         </label>
//       </div>
//     </div>
//   </div>
// </header>
//
// Styleguide module.header.2

.module-header-checkbox {
  position: relative;
  padding-right: 240px;
}
.module-header-checkbox__title {
  line-height: 20px;
}
.module-header-checkbox__checkbox {
  position: absolute;
  top: 0;
  right: 0;
  padding: 2px 0;
}



// Module-header button
//
// Title and Button
//
// Markup:
// <div class="module module--white">
//   <header class="module__header module__header--grey">
//     <div class="module-header-button">
//       <div class="module-header-button__title">
//         <h4 class="heading-size-5">Title goes here...</h4>
//       </div>
//       <div class="module-header-button__button">
//           <a class="button button-32 button-blue text-bold">Button...</a>
//       </div>
//     </div>
//   </header>
// </div>
//
// Styleguide module.header.3

.module-header-button {
  position: relative;
  padding-right: 240px;
}
.module-header-button__title {
  line-height: 20px;
}
.module-header-button__button {
  position: absolute;
  top: -6px;
  right: -16px;
}



// Module-header settings
//
// Title and Settings cog
//
// To make the
//
// Markup:
// <div class="module module--white">
//   <header class="module__header module__header--grey">
//     <div class="module-header-setting">
//       <div class="module-header-setting__title">
//         <h4 class="heading-size-5">Average load times distribution</h4>
//       </div>
//       <div class="module-header-setting__button">
//         <div class="dropdown2 js-option-button-container">
//           <div class="dropdown2__button">
//             <div class="header-settings__button js-dropdown-button">
//               <span class="flat-icon icon-16 cog-icon"></span>
//             </div>
//           </div>
//             <!-- Drop down goes here. Toggle with javascript -->
//           </div>
//         </div>
//       </div>
//   </header>
// </div>
//
// Styleguide module.header.4

.module-header-setting {
  position: relative;
  padding-right: 40px;
}
.module-header-setting__title {
  line-height: 20px;
}
.module-header-setting__button {
  position: absolute;
  top: -6px;
  right: -16px;
}

// settings button !todo replace with button-subtle
.header-settings__button {
  cursor: pointer;
  width: 32px;
  height: 32px;
  padding: 8px;
  color: $text-grey;
  border-radius: 3px;
  .icon-16 {
    transform: rotate(0);
    @include transition(all 120ms linear);
  }
  &.header-settings__button--active,
  &:active {
    background: $color-grey-light;
  }

  &:hover,
  &.header-settings__button--active,
  &:active {
    .icon-16 {
      color: $text-1;
      transform: rotate(45deg);
    }
  }
}