// Page Setup
//
// Fundamental blocks to set up a page.
//
// This will set up a page with content centered
//
// .page-container gives the page propper space on the sides
//
// .center centers the content
//
// .center-1120,.center-960,.center-640 and .center-480 sets a max width for the content. .center-1120 is standard.
//
// .page-header for the page headers
//
// .module.moduel-basic is the white boxes for the page content. Each of them can have a .module__header
//
// Markup:
// <section class="page-container">
//   <div class="center center-1120">
//     <header class="page-heading">
//       <h1 class="text-ellipsis" title="">Page title</h1>
//     </header>
//     <article class="module module--white">
//       <header class="module__header">
//         <h4>Module title</h4>
//       </header>
//       <div class="module-body">
//         content goes here...
//       </div>
//     </article>
//   </div>
// </section>
//
// Styleguide pagesetup

.page-container {
  padding: 24px;

  @media screen and (max-width:$screen-min) {
    padding: 16px;
  }

  @media screen and (max-width:$screen-mob) {
    padding: 12px;
  }
}


// Module
//
// Module is a container for basic content.
//
// .module--margin adds a margin beneath the module
//
// Modules are often combined with module-content blocks. Please navigate to module-content section for more info.
//
// Styleguide module


// Basic setup
//
// Markup: module/kss-markup--module.html
//
// Styleguide module.1

.module {
  position: relative;
}

.module--margin {
  margin-bottom: 24px;
}


// Module - colors
//
// .module--white - White background color, box shadows and borders
// .module--grey - Adds only grey background.
//
// Markup:
// <div class="module {{modifier_class}}">
//  <div class="module-content module-content--padding-all">
//   content
//  </div>
// </div>
//
// Styleguide module.2

.module--white {
  border: 1px solid $color-border;
  background: #fff;
  box-shadow: $box-shadow;
}

.module--grey {
  background: $color-grey-light;
}


// Module__header
//
// Should be used as a children to the module
//
// Standard header should have a h1 size 5.
//
// .module__header--grey - Grey background color.
//
// Markup:
// <div class="module module--white">
//   <header class="module__header {{modifier_class}}">
//     <h1 class="heading-size-5">module header</h1>
//   </header>
// </div>
//
// Styleguide module.3

.module__header {
  position: relative;
  border-bottom: 1px solid $color-border;
  padding: 12px 24px;
  @include screen-min {
    padding: 12px 16px;
  }
}

.module__header--grey {
  background-color: $color-grey-lightest;
}


// ToDo: remove style from module body. Add module-conent instead
.module-body {
  padding: 24px;
  @include screen-min {
    padding: 16px;
  }
  @include screen-mob {
    padding: 12px;
  }
}

.module__body{}



.module__footer {
  padding: 24px;
  @include screen-min{
    padding: 16px;
  }
  @include screen-mob{
    padding: 12px;
  }
}


// Module__footer
//
// Should be used as a children to the module
//
// NOTE! When use of border skip the padding at the bottom of the module-content. See separate section for more info. Otherwise it will be a big gap between content and footer.
//
// .module__footer--border - adds a border top
// .module__footer--tight - A tighter padding top and bottom.
//
// Markup:
// <div class="module module--white">
//   <div class="module__body">
//     <div class="module-content module-content--padding-all">
//       content
//     </div>
//   </div>
//   <header class="module__footer {{modifier_class}}">
//     footer content
//   </header>
// </div>
//
// Styleguide module.4

.module__footer--border{
  border-top: 1px solid $color-border-light;
}

.module__footer--tight {
  padding-top: 12px;
  padding-bottom: 12px;
}