.dep-table-hide {
  @media screen and (max-width:800px) {
    display: none;
  }
}
.dep-table-mob {
  display: none;
  @media screen and (max-width:800px) {
    display: table-cell;
  }
}
.dep-mobile-cell {
  h4 {
    margin: 0 0 8px;
  }
  position: relative;
  .dep-timestamp {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    color: $color-grey-light;
  }
  .dep-table-avatar {
    margin: 0 0 8px;
  }
}

// Data list header
.data-list-header {
  margin-bottom: 16px;
  background-color: $background-color;
  border-radius: 4px;
  .data-list-icon{
    position: absolute;
    top: 4px;
    left: 8px;
  }
  .action-icon {
    position: absolute;
    top: 0;
    left: 0;
    height: 32px;
    border-radius: 3px 0 0 3px;
  }
  .avatar-16 {
    position: absolute;
    left: 8px;
    top: 8px;
  }
  h1 {  // should not be using h1 here
    @include font-size($fontsize-standard);
    font-weight: bold;
    line-height: 24px;
    padding: 4px 0;
  }
  h4 {
    line-height: 24px;
    padding: 4px 0;
  }
  .warning-icon:before {
    margin-top: -1px;
  }
  // has icon state
  &.has-icon {
    position: relative;
    padding: 0 0 0 32px;
    h1,h4 {
      margin: 0 0 0 12px;
    }
  }
}

// error group
.dep-errorgroup {
  margin: 0 0 40px;
  &:last-child {
    margin: 0;
  }
}

// pagination
.deptrack-pagination {
  margin: 16px 0 0;
}
.dep-loading {
  padding: 40px 0;
}

// tab width
.module-tabs.deployment-tabs {
  li {
    width: 200px;
  }
}