// useful classes

// hide/show
.hide {
  display: none;
}
.show {
  display: block;
}


.float-left{
  float: left;
}
.center{
  margin-left: auto;
  margin-right: auto;
}
.float-right{
  float: right;
}

.line-height-32,
.line-height-32-before:before,
.line-height-32-after:after{
  line-height: 32px;
}

.line-height-32--force{
  line-height: 32px !important;
}
.line-height-24,
.line-height-24-before:before,
.line-height-24-after:after{
  line-height: 24px;
}

.line-height-24--force{
  line-height: 24px !important;
}


@media screen and (max-width:$screen-max) {
  .hide-max {
    display: none;
  }

  .show-max {
    display: block;
  }
}

@media screen and (max-width:$screen-med) {
  .hide-med {
    display: none;
  }

  .show-med {
    display: block;
  }
}

@media screen and (max-width:$screen-min) {
  .hide-min {
    display: none;
  }

  .show-min {
    display: block;
  }
}

@media screen and (max-width:$screen-mob) {
  .hide-mob {
    display: none!important;
  }

  .show-mob {
    display: block;
  }
}


@media screen and (max-width:$screen-med) {
  .screen-med-hide {
    display: none;
  }

  .screen-med-show,
  .screen-med-show-block {
    display: block;
  }
}

@media screen and (max-width:$screen-min) {
  .screen-min-hide {
    display: none;
  }

  .screen-min-show {
    display: block;
  }
}

@media screen and (max-width:$screen-mob) {
  .screen-mob-hide {
    display: none;
  }

  .screen-mob-show {
    display: block;
  }
}



// word break
.break {
  -ms-word-break: break-all;
  word-break: break-word;
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  hyphens: auto;
}

.nowrap{
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

// overwrites .nowrap on screens smaller than med
@include screen-med {
  .nowrap--normal-med{
    white-space: normal;
  }
}
// overwrites .nowrap on screens smaller than min
@include screen-min {
  .nowrap--normal-min{
    white-space: normal;
  }
}

.full-width{
  width: 100%;
}

// clearfix
clearfix,
.clearfix {
  &:after {
    content: '';
    display: block;
    clear: both;
  }
}


// disabled
.disabled,
.is-disabled {
  pointer-events: none;
  cursor: not-allowed;
}

.relative {
  position: relative;
}

.clickable {
  cursor: pointer;
}


.text-icon {
  position: relative;
  display: block;
}
.text-icon--center{
  display: inline-block;
  max-width: 100%;
}
.text-icon--16 {
  padding-left: 24px;
  .text-icon__text {
    line-height: 16px;
  }
  .text-icon__icon {
    line-height: 16px;
  }
}
.text-icon--24 {
  padding-left: 40px;
  min-height: 24px;
  .text-icon__text {
    line-height: 24px;
  }
  .text-icon__icon {
    line-height: 24px;
  }
}

.text-icon--32 {
  padding-left: 48px;
  .text-icon__text {
    line-height: 32px;
  }
  .text-icon__icon {
    line-height: 32px;
  }
}

.text-icon--36 {
  padding-left: 48px;
  .text-icon__text {
    line-height: 36px;
  }
  .text-icon__icon {
    line-height: 36px;
  }
}

.text-icon__icon,
.text-icon__text{
  display: block;
}
.text-icon__icon{
  position: absolute;
  top: 0;
  left: 0;
}
.text-icon__text{
  text-align: left;
}


.no-select{
  @extend noselect;
}



// open in new window
.text-icon-after {
  @extend clearfix;
  max-width: 100%;
  float: left;
  position: relative;
  padding-right: 24px;
}
.text-icon-after__text {
  display: block;
  width: 100%;
  line-height: 16px;
}
.text-icon-after__icon {
  position: absolute;
  right: 0;
  top: 0;
}
